[2016-03-04 01:03] AbdealiJK opened #5 "Add labels"
Atleast for the process/ workflows

[2016-03-04 01:04] AbdealiJK commented on #5
Forgot that I have access to do this ...
Done.

[2016-03-04 01:04] #5 closed

[2016-03-04 02:12] Makman2 commented on #5
:smile:

[2016-03-04 12:19] laxmena opened #6 "Including venv in gitignore"

[2016-03-04 12:32] #6 closed

[2016-03-05 17:31] Adrianzatreanu opened #10 "manifest"
since our setuptools is running problems, do we need a MANIFEST.in that would include requirements.txt and probably README & License?

[2016-03-05 17:32] sils1297 commented on #10
this is the one from coala, it works pretty fine, guess we won't need the
docs though:

include README.md
include LICENSE
include test-requirements.txt
include requirements.txt
include setup.cfg
recursive-include docs *

Sincerely,

Lasse Schuirmann

contact@viperdev.io
http://viperdev.io/

2016-03-05 18:31 GMT+01:00 Zatreanu Adrian-Gabriel <notifications@github.com

[2016-03-05 17:33] Adrianzatreanu commented on #10
yes, at the coala one i was looking. so i should add it?

[2016-03-05 17:33] Adrianzatreanu commented on #10
we also dont have a setup.cfg / test-reqs yet, so theres no point in including them yet :)

[2016-03-05 17:33] sils1297 commented on #10
:+1:

Sincerely,

Lasse Schuirmann

contact@viperdev.io
http://viperdev.io/

2016-03-05 18:33 GMT+01:00 Zatreanu Adrian-Gabriel <notifications@github.com

[2016-03-05 17:44] #10 closed

[2016-03-05 18:49] Adrianzatreanu opened #13 "take globs from .gitignore"
We should take the globs from .gitignore to ignore those files

[2016-03-05 18:51] AbdealiJK commented on #13
Could you explain this issue a bit more ?
I have no idea what it's about

[2016-03-05 18:55] sils1297 commented on #13
The gitignore already contains globs to ignore e.g. generated files. We need to ignore e.g. for python projects the build directory in the coafile and the gitignore, this issue is about coala-quickstart using gitignore to generate the ignore setting for a coafile automatically.

[2016-03-05 19:02] AbdealiJK commented on #13
Ahh, i see - so, it's auto filling the coafile ignore setting using
gitignore.

Just a note: hgignore has a similar syntax to gitignore - could do that too
?

Also, Our globs and gitignore globs are not similar.
For example, "build" in gitignore means **/build/** or similar in our
globs. But ".pyc" would be **/*.pyc. etc

On Sun, Mar 6, 2016 at 12:25 AM, Lasse Schuirmann <notifications@github.com>

[2016-03-07 13:38] sils1297 opened #17 "duplicate"
test

[2016-03-07 13:50] #17 closed

[2016-03-07 13:50] sils1297 opened #18 "test"
this is a duplicate and an enhancement

[2016-03-07 13:51] #18 closed

[2016-06-03 14:57] hypothesist commented on #13
@AbdealiJK I verified the following: (tracked - doesn't match, untracked - matches)

- with `.c`: `./file.c` is still tracked
- with `*.c`: `./file.c` is **untracked**
- with `*.c`: `./test1/file.c` is **untracked**
- with `.c`: `./test1/file.c` is obviously tracked
- with `**.c`: `./test1/file.c` and `./file.c` and are both **untracked**
- with `.c` and `*.c`: `./.c` is **untracked**
- with `file

[2016-06-03 17:15] AbdealiJK commented on #13
Nearly All of those make sense to me, why are you confused? Have you read https://git-scm.com/docs/gitignore ?

The only case which doesn't make sense is
Pattern: 'test' tracking the file './test/build/test2/file.c'. Imo it shouldn't, can you recheck?

[2016-06-03 17:35] hypothesist commented on #13
@AbdealiJK For instance `build` matches the file, which doesn't feel intutive to me (because it's not in the root directory). But that's probably because I'm thinking very verbose - I'd prefer for only `**/build/**` to match the file instead of `build`, but I totally understand `build` matching the file is simpler.

And you're right, `test` does make the file untracked. Sorry about that :sweat_smi

[2016-06-03 18:48] Makman2 commented on #13
it's quite simple: every untracked file that matches a pattern in gitignore is ignored. If it's already tracked it isn't ignored. You can make it ignored again when you delete the file from the repository.

[2016-06-04 16:16] sils1297 opened #19 "Don't ask user about bears"
It'd be better to ask user to confirm detected languages, then generate the config completely with  comments.

That's way easier for him to follow.

[2016-06-05 06:09] hypothesist commented on #19
For the example I used, there were about 13-14 bears. Use all of them?

[2016-06-05 06:20] sils1297 commented on #19
we should try taking a meaningful selection of bears organized in sections so they don't conflict IMO

[2016-06-05 06:22] hypothesist commented on #19
I'm thinking of generating the sections ourselves since we have the language information. A section for each language and the corresponding bears for each language in that section. We can also fill the files field ourselves for each section.

[2016-06-11 11:44] hypothesist commented on #13
https://gist.github.com/hypothesist/d58073e5add2f1d5abc5e66183bddeb2

From Gitter:

@AbdealiJK [[ref]](https://gitter.im/coala-analyzer/coala?at=57544b5be8163f872c4e211a) -
- Not sure if \\ is also acceptable for windows (instead of the first /), so maybe test that out ?
- Your is_glob_exp checks for ( but what about ( in file names ? like the Windows pesky "Program files (x86)" ? Will it get conf

[2016-07-20 12:32] hypothesist opened #21 "Use builtin logging instead"

[2016-07-20 12:57] adtac opened #22 "Add Appveyor"

[2016-07-20 13:48] Uran198 commented on #21
Btw, @AbdealiJK suggested that we can use colorlog for logging, this module basically provides formatter similar to what I wrote, so you can consider using it along with builtin logging. It may simplify things, but add a little more dependencies.

[2016-08-08 11:52] adtac opened #25 "Sort sections by usage"

[2016-08-10 10:38] #13 closed

[2016-08-15 10:28] sils1297 commented on #19
this is done isn't it?

[2016-08-15 10:28] #19 closed

[2016-08-15 10:28] sils1297 opened #29 "If I have C code I get a C *and* C++ sections"
as header files are associated with both

[2016-08-15 10:47] hypothesist commented on #19
yeah

[2016-08-15 10:50] hypothesist commented on #29
We should group some languages (on a language basis, manually specify the associations).

[2016-08-25 11:23] Adrianzatreanu opened #30 "README improvements"
Cmon, im sure it can be better than this. Some usage sections, installation, better than this logo?
a brief explanation of what it is :D ?

[2016-08-25 11:29] Adrianzatreanu opened #31 "My email needs update in setup.py"
The email specified there is no longer available. Needs to be replaced with ``adrianzatreanu1@gmail.com`` at the maintainers_emails in setup.py

[2016-08-26 06:24] GuessWhoSamFoo commented on #31
May I be assigned to this one? It will be my first commit for this project!

[2016-08-26 06:45] sils1297 commented on #31
Yes, totally - seeing forward to it :) CC @hypothesist will you be around for review?

[2016-08-26 06:46] sils1297 commented on #31
@GuessWhoSamFoo you might need ping us on gitter about review, I'm not sure if our bot is correctly set up on this repository.

[2016-08-27 11:56] #31 closed

[2016-08-27 16:05] hypothesist commented on #31
@sils1297 sorry still in exam mode for another week or so :(

glad to welcome @GuessWhoSamFoo to the coala community though :)

[2016-09-01 20:37] underyx opened #33 "Use cib to list and install bears"
Inspired by the discussion at https://gitlab.com/coala/cib/issues

[2016-09-02 18:42] hypothesist commented on #33
@underyx you mean directly from the list of bears that we guess? But we need the metadata of each bear  to know which languages it supports.

[2016-09-16 15:05] sils1297 opened #35 "remove python 3.3 support"

[2016-09-16 15:48] #35 closed

[2016-10-07 17:45] #30 closed

[2016-10-08 15:23] coala-bot opened #38 "Add advanced commit message checking"
Just like we did with the other repositories.

Opened via [gitter](https://gitter.im/coala/coala/?at=57f90f744fde7203141d973f) by @sils

[2016-11-07 19:58] jayvdb opened #39 "Zero questions mode"
It should be possible to run this without any questions being asked.
It should make sensible decisions, and the user can edit the `.coafile` later when they better understand what the config options all mean.

This will allow https://github.com/coala/coala/wiki/Google-Code-In-Task-Use-coala to be an extremely easy task.

[2016-11-07 20:52] sils commented on #39
uhm this is hard, @adtac is this doable within a week so it works? Doesn't have to be perfect.

[2016-11-08 12:36] adtac commented on #39
Yeah, for the questions thing - the type is the only data we have about a particular setting. If we have a set of possible values (like aspects currently do) for each setting, it's pretty easy. So I'm wondering if we should put more resources into completing aspects or do this first.

[2016-11-08 18:02] jayvdb commented on #39
In tbis mode, if a bear needs a user answer, dont enable that bear.

[2016-11-10 06:10] jayvdb commented on #39
A little analysis shows this is easy, and is effectively:

[code]

Some arg parsing is also needed.

[2016-11-16 03:51] jayvdb opened #41 "CLI argument parsing problems"
quickstart uses `coalib`, which relies heavily on the CLI and config loading routines.

`get_filtered_bears` is called, and it uses `load_configuration` , which calls `coalib.parsing.DefaultArgParser.default_arg_parser`, which is in fact the only arg parser and all coala apps are implicitly using.

The CLI arg parsing occurs after a bit of initial interaction with the user.  e.g. if we use `--foo`

[2016-11-17 14:50] jayvdb commented on #39
I'm not 100% locked into `--ci ` CLI arg, and it is a bit cryptic.
`--non-interactive ` is descriptive and fairly commonly used.
It would be nice if this mode was also available for `coala`, which would be the same as "reject all questions and do the most logic thing."

It would be easier to use the `CI` envvar, which exposes tge functionality without needing for pick the CLI arg design.

[2016-11-18 03:28] jayvdb opened #42 "Use existing paths in Gruntfile.js"
Gruntfile.js contains pre-existing configuration which will exist in mature projects, which can be used to create the correct `.coafile` configuration. e.g. https://github.com/wikimedia/jquery.ime

[code]

Those top level keys (csslint, jscs, jshint) are constant, and directly map to names of linters; but the sub-keys change per grunt plugin, but `all` and `main` are quite common.  IMO quickstart

[2016-11-18 05:01] Lidilidian opened #43 "failed run coala-quickstart --ci"
failed to run `coala-quickstart --ci` and got this error :

[code]

[2016-11-18 08:35] coala-bot opened #44 "coalaBear should not be enabled"
This bear is expensive for little gain for a non-coala project.

Opened via [gitter](https://gitter.im/coala/coala/?at=582ebd65e51081951edee660) by @jayvdb

[2016-11-19 04:07] adhikasp opened #45 "Detect language of file based on shebang"
In some project (mainly that specifically target linux platform) a file without extension is commonly found. Mainly they use shebang (`!#/bin/sh` or similiar) to specify language/intrepeter used.

AFAIK, coala-quickstart just detect used language based on their extension, so they fail to detect extensionless file. Also, in `.coafile` the file path need to be explicitly stated, because (ex. `files

[2016-11-19 12:20] tulphoon commented on #39
@jayvdb While we have this mode already for `coala` and it's called `--ci`, for this one `--non-interactive` would have more sense in my opinion. You are going to generate a `.coafile` once, so it has nothing to do with continuous integration.

[2016-11-20 19:06] jayvdb commented on #43
Was this on your own computer?  If yes, which OS & Distribution are you running?

[2016-11-21 06:19] jayvdb commented on #25
Sorry , what does "by usage" mean?

[2016-11-21 06:34] jayvdb opened #47 "README.rst: Title underline too short"
[code]

[2016-11-21 13:30] adtac commented on #25
I don't even remember lol

Maybe use the most prominent language as the first section? No idea why that'd be useful though - what was I even thinking...

[2016-11-21 15:28] Makman2 commented on #25
closing? @adtac :D

[2016-11-21 16:34] adtac commented on #25
Yeah, let's close this

[2016-11-21 16:34] #25 closed

[2016-11-22 18:17] #47 closed

[2016-12-05 02:35] jayvdb opened #49 "ci mode needs to bypass the "files to ignore" question"
After the [CI mode](https://github.com/coala/coala-quickstart/issues/39) has been added, there is one remaining question by quickstart: which files to ignore.

This question only appears if there is not a `.gitignore`.  That is git specific, which should be fixed.  As a result, a workaround is to `touch .gitignore`, which will create this file if it exists, and the empty file is enough.  A better

[2016-12-05 02:51] #39 closed

[2016-12-06 10:17] yukiisbored opened #51 "Disable welcome message on --non-interactive"
I think the welcome message should be disabled when `--non-interactive` is declared. Because what it does only fills the terminal especially on CI environment.

[2016-12-06 13:04] #51 closed

[2016-12-08 11:37] jayvdb commented on #44
Ugh.  To begin with, it should be removed from [Constants.py](https://github.com/coala/coala-quickstart/blob/2f76455e793e29628dfafbaeec632f4db1d4dd3d/coala_quickstart/Constants.py#L2)

[2016-12-08 12:25] adtac commented on #44
Yeah that's all that is needed to be changed.

[2016-12-09 10:41] jayvdb opened #53 "Replace PEP8Bear with PycodestyleBear"
https://github.com/coala/coala-quickstart/blob/26129da/coala_quickstart/Constants.py#L11

[2016-12-09 18:46] hemangsk commented on #45
Hey! can I take this up?

[2016-12-10 06:16] adtac commented on #45
@hemangsk sure, but please describe how you'd do this before you write the code in case any of us have suggestions/modifications - it's much easier for both sides! :)

Assigning you :+1:

[2016-12-11 17:09] Abhisek- opened #54 "Replace coalib.misc.ContextManagers with coala_utils.ContextManagers"
Change the import statements in

* tests/generation/Bears.py
* tests/generation/FileGlobs.py
* tests/generation/Project.py
* tests/interaction/Logo.py

with corresponding `from coala_utils.ContextManagers` ...

[2016-12-13 16:12] #54 closed

[2016-12-13 16:53] hemangsk commented on #45
@adtac Thanks!
I figured this solution that in coala-quickstart > generation > Utilities.py > get_extension(), split_by_language(), These functions have a similar task to separate the given files based on language and extensions. So Inside the loop which iterates through the list of project_files, we can add to call to new  utility functions `get_language_from_hashbang()` and `get_extension_from_h

[2016-12-13 17:26] jayvdb commented on #45
Sounds good. `get_language_from_hashbang` will be the interesting/challenging part. Would be good if you can describe how you will do that.

[2016-12-13 17:45] Abhisek- opened #57 "Remove the python 3.3.6 dependency"
Change the file `.ci/deps.sh` so that it doesn't support `python 3.3` anymore as `python3.3` hasn't been supported by coala for a long time. see https://github.com/coala/coala-quickstart/issues/35

[2016-12-13 17:49] jayvdb commented on #57
This part of #35

[2016-12-13 18:00] Abhisek- commented on #57
thanks for the reference @jayvdb

[2016-12-14 03:18] #57 closed

[2016-12-14 04:21] coala-bot opened #59 ".coafile: add PycodestyleBear"
It should be run after PEP8Bear, and will find problems not found by the older PEP8Bear

difficulty/low

Opened via [gitter](https://gitter.im/coala/coala/?at=5850c8b8aeb4900804881c48) by @jayvdb

[2016-12-14 20:19] #53 closed

[2016-12-16 14:21] jayvdb commented on #44
@venkateshbellale , your commit https://github.com/venkateshbellale/coala-quickstart/commit/51920fe482b96 is correct.

However, you need to create a pull request to the main repository.  e.g. see https://github.com/coala/coala-quickstart/compare/master...venkateshbellale:venkateshbellale-patch-1 . Also come onto gitter and ask for help with any thing at all.

[2016-12-17 15:58] sils commented on #49
CC @andreiraduta1101

[2016-12-18 15:05] #59 closed

[2016-12-20 06:07] adtac commented on #45
One more thing to look into is `#!/usr/bin/env python` - that should have the same effect as a `#!/usr/bin/python` shebang ;)

[2016-12-21 06:28] jayvdb opened #62 ""The default coafile '.coafile' was not found." warnings"
`coala-quickstart --ci` is emitting lots of "The default coafile '.coafile' was not found." warnings
see https://travis-ci.org/jayvdb/Aurora/builds/185683597
[code]

[2016-12-22 19:25] coala-bot opened #63 "Do not emit empty `ignore` setting"
difficulty low

Opened via [gitter](https://gitter.im/coala/coala/?at=585c289ac5a4e0233bbb3a51) by @jayvdb

[2016-12-25 14:47] jayvdb opened #64 "coala-quickstart fails under travis_wait"
See https://travis-ci.org/jayvdb/uikit/builds/186651421#L213

[2016-12-25 16:33] coala-bot opened #65 "Generated .coafile should include comment describing generator and date of generation"
difficulty low

Opened via [gitter](https://gitter.im/coala/coala/?at=585ff4eb058ca967378da92c) by @jayvdb

[2016-12-27 13:59] namanyadav12 commented on #65
Assign this to me.

[2016-12-30 16:42] #65 closed

[2017-01-01 21:07] marian-ald commented on #49
I'll try to fix this

[2017-01-02 15:14] adtac commented on #49
@marian-ald sure! I've assigned you this. If this is your first issue, take a look at coala.io/newcomer and if you get stuck anywhere, just ask on our Gitter channel :)

[2017-01-03 10:45] andreidinu commented on #63
Can you please give me some more details about this issue? What do we want to return in case of empty `ignore`? A comment like `ignore = # there is no file...` would be fine or do we want ignore field to not exist if it's empty?

[2017-01-03 13:33] marian-ald commented on #49
Thanks :+1:  :smile:

[2017-01-03 13:47] marian-ald commented on #49
@jayvdb  Let's say I create a .gitignore file with 'touch'. What do you mean by "better .gitignore"?

[2017-01-03 13:54] adtac commented on #63
just don't add the field to the .coafile

[2017-01-03 13:58] adtac commented on #49
maybe a project specific gitignore file? For example node projects usually have a `node_modules` directory that should be in gitignore. If we have a tool that can recognizeif a project is a node project, then it can generate a relevant gitignore automatically.

[2017-01-03 14:45] jayvdb commented on #49
See https://github.com/github/gitignore

[2017-01-03 21:26] andreidinu commented on #63
ok, assign me this.

[2017-01-04 17:55] hemangsk commented on #45
sorry for the delay! Here's the approach I've come up for `get_language_from_hashbang()`,
 In the `coala-quickstart > generation > Utilities.py`
[code]

And get_language_from_hashbang(hashbang)
[code]

Shortcomings in this approach which I've figured out till now and I'm working on are,
- Regex can be improved using (Backtracing?)
- Nested for loop is used in try block and it is not time efficient

[2017-01-05 08:54] marian-ald commented on #49
I'm a little bit confused... There are a lot of gitignore files types in this project(github/gitignore). Should I modify the existing .gitignore from coala-quickstart/  and add some other files, or to reorganize it?

[2017-01-05 09:00] jayvdb commented on #49
This issue is not about the .gitignore in the coala-quickstart repo.
This issue is about bypassing the "files to ignore" question when coala-quickstart runs in CI mode.  In CI mode, there is no user to answer the question.  The process hangs indefinitely waiting for a user.

[2017-01-05 10:06] marian-ald commented on #49
Aaa... so it's something in coala-quickstart.py I guess

[2017-01-06 12:14] #63 closed

[2017-01-06 12:20] jayvdb commented on #45
`get_language_from_hashbang` return value can be memorized.
But performance is not a consideration, as this is run once per project lifetime typically.

[2017-01-06 17:21] adtac commented on #45
Looks neat :+1:

And unless my eyes fail me, the `data.close()` is outside the `with open(...) as data` ;) I know, this is just a prototype. Just saying :P

[2017-01-07 20:11] hemangsk commented on #45
Thanks for the feedback @javdb @adtac :) I'm on it

[2017-01-11 21:58] marian-ald commented on #49
Finally, I understood what  the problem is. I can bypass the question, no problem.
So when coala runs in in CI mode, if there is a .gitignore file, file globs expressions are loaded from .gitignore. But if there is not a .gitignore, I should generate one, it's ok this?  But I'm not sure how could I generate it...
@jayvdb You said it's enough to create  it, it's ok if I just bypass the question and

[2017-01-12 08:22] adtac commented on #49
@marian-ald creating an empty gitignore would automatically skip the question. What did you mean by

[2017-01-12 08:42] marian-ald commented on #49
You're right, it's the same thing :+1:
So the question should be: It's ok if I just create the empty .gitignore?

[2017-01-12 08:47] sils commented on #49
IMO it's not

Sincerely,

Lasse Schuirmann

lasse@schuirmann.net
http://coala.io/ - http://viperdev.io/ - http://gitmate.com/

On 12 January 2017 at 09:42, marian-ald <notifications@github.com> wrote:

[2017-01-12 14:28] adtac commented on #49
@marian-ald the tool is probably quite involved and surely beyond the scope of this issue. I just wanted to put the idea out there. (I'm thinking it could even be a GSoC project? CC @sils)

And indeed, they're not the same thing - creating an empty gitignore is probably just a workaround. Skipping the question without a gitignore is the better way (just do the "are we in CI mode" you'd do to creat

[2017-01-13 10:45] satwikkansal commented on #42
@jayvdb Just wanted to check if I understood it correctly. We've to do the following things

- [ ] Look for a `Gruntfile.js` in the project's root and parse it if it exists.

- [ ] Find the lint subtasks using regular expressions of the form grunt.registerTask( 'lint', **[ 'jshint', 'jscs:main', 'csslint' ]** ) or similar.

- [ ] Try to map the discovered sub-task to a coala-bear, if failed, warn

[2017-01-13 10:59] jayvdb commented on #42
That sounds very sensible.  Re "Try to map the discovered sub-task to a coala-bear, if failed, warn the users." , IMO a "warning" isnt really required, and the focus should be to inform the users what parts of the Gruntfile.js were detected and enabled, and maybe a small note that -quickstart didnt recognise other parts of the Gruntfile.js , without too much detail or alarm.

[2017-01-13 18:50] satwikkansal commented on #42
@jayvdb Sorry to ping you again. I just had some doubts regarding:
- Parsing the `Gruntfile.js` : I'm confused whether to use a regex to extract the concerned parts or to use a parser package like [slimit](https://pypi.python.org/pypi/slimit) and [pyjsparser](https://github.com/PiotrDabkowski/pyjsparser). IMO the later approach should be more reliable.
- Filtering the bears according to the `sub-t

[2017-01-15 01:30] marian-ald commented on #38
Where can I get a link to an issue(from other repositories) with this "commit message checking"? I want to see how it works.

[2017-01-15 09:09] adtac commented on #38
@marian-ald [this commit](https://github.com/coala/coala/commit/3f380d36b5ad0f10105d7bd865d86b5f4c3b2bc6) looks like what Lasse meant. Plus it's merged one day after this issue is created, so it's probably what this is. (I found this from looking at coala/coala's [coafile history](https://github.com/coala/coala/commits/master/.coafile).)

[2017-01-22 10:18] jayvdb commented on #42
@satwikkansal , either approach can work.  either

1. use a proper parser .  See which existing parsers already parse these files.  If there are bugs, raise them upstream.
2. use regex to convert the `.js` into a correct JSON, and then use `json` module to load it.

re mapping tasks to bears, again both of your suggested approaches sound like they could work well.

Be bold.  Try everything.  Dont

[2017-02-01 03:13] coala-bot opened #75 "Update urls from coala-analyzer to coala"
difficulty/newcomer

Opened via [gitter](https://gitter.im/coala/coala/?at=589152434c04e9a44e565a06) by @jayvdb

[2017-02-01 19:01] #75 closed

[2017-02-01 22:25] sils commented on #43
Hey @Lidilidian we didn't receive a message for quite some time. I believe that your issue will be solved if you install the latest coala-bears release and coala-quickstart release in a fresh virtualenv. This is a typical error for coala development setups since pip isn't particularly strong at getting the right versions for you.

[2017-02-01 22:25] #43 closed

[2017-02-01 22:26] sils commented on #45
@hemangsk any news?

[2017-02-01 22:28] sils commented on #38
@marian-ald can you update this and get this done? Should be easy.

[2017-02-01 22:29] sils commented on #29
@jayvdb what is this blocked by?

[2017-02-02 02:37] hemangsk commented on #45
I'll do the second iteration today asap :)

On Feb 2, 2017 3:56 AM, "Lasse Schuirmann" <notifications@github.com> wrote:

[2017-02-02 07:33] Lidilidian commented on #43
okay thanks

2017-02-02 5:25 GMT+07:00 Lasse Schuirmann <notifications@github.com>:

[2017-02-02 09:27] sils commented on #43
(that being said if you still experience this with a fresh venv please do reopen it! No intention of closing real bugs here.)

[2017-02-15 06:59] yash-nisar commented on #38
Still on it @marian-ald ?

[2017-02-19 13:52] coala-bot opened #78 "Auto-generate IMPORTANT_BEARS_LIST"
Currently, this list needs to be manually updated, we can auto-generate this list to  avoid so. See https://github.com/coala/coala/issues/3771

Opened via [gitter](https://gitter.im/coala/coala-bears/?at=58a9a338de50490822e9a0e8) by @satwikkansal

[2017-03-06 23:18] jack17529 commented on #62
@jayvdb  please assign me this.

[2017-03-07 07:46] jayvdb opened #79 "Create sections using .editorconfig if present"
http://editorconfig.org/

[2017-03-20 10:52] kaustubhhiware opened #80 "Language statistics of project do not add up to 100"
I ran `coala-quickstart --ci` on a project and the language statistics generated were as follows :

    The following languages have been automatically detected:
                        C: 37%
                   Python:  1%
                 Markdown:  1%
                      C++:  0%`

This does not total to 100%. The language statistics for the same project on github were

     C: 97.5%
     Pyt

[2017-03-24 10:38] Flap-Py opened #81 "Spelling mistake in README.rst"
change 'do' -> 'to'

![image](https://cloud.githubusercontent.com/assets/11754275/24290687/dd4d17e6-10ab-11e7-82fd-de0b51786d11.png)

difficulty/newcomer

[2017-03-25 01:44] RonnanSouza commented on #81
Please, assign me on this

[2017-03-25 05:29] Flap-Py commented on #81
@RonnanSouza Hey for getting assigned, first you need to get invited to the organisation. Join [chat room](https://coala.io/chat)  to talk to the maintainers and one of them will invite you. In the meantime go through [newcomer guide](http://api.coala.io/en/latest/Developers/Newcomers_Guide.html)

[2017-03-25 06:40] fragm3 commented on #81
Assign me on this!

[2017-03-26 08:52] kaustubhhiware commented on #62
@jayvdb , the multiple warning occurs due to this reason :
`get_filtered_bears` is called for each language, which results to one warning per detected language.

In order to fix this issue, `ConfigurationGathering.py` in `coala/coalib/settings` will have to be changed to
(line 186) for `coafile_sections`, `silent` must be True.

Is it okay if a PR is made to `coala` repo, to solve this issue ?

[2017-03-26 11:12] jack17529 commented on #62
And @kaustubhhiware  are doing this because @jayvdb haven't responded on my comment for last 20 days :confused:

[2017-03-26 12:46] jayvdb commented on #62
@kaustubhhiware, that sounds good.

@jack17529 , you had not completed your newcomer issue when this issue was assigned to @kaustubhhiware .  Please find another 'low' issue to work on.

[2017-03-26 14:44] jack17529 commented on #79
@jayvdb can you please explain the issue?

[2017-04-11 18:25] satwikkansal commented on #79
@jayvdb I've created a custom `.editorconfig` parser which is able to extract the properties and values. Just wanted to consult you for the next steps :)
Taking a look at the [EditorConfig properties](https://github.com/editorconfig/editorconfig/wiki/EditorConfig-Properties) wiki, I realized that there is mismatch in the "names of the properties in the EditorConfig files" and the "names of setting

[2017-04-12 19:58] satwikkansal opened #88 "Validate user's input"
Currently, the user inputs for the values of the settings are not validated and directly are directly written in the generated ".coafile". We need a way to validate those inputs first.

status/needs design

[2017-04-13 04:29] meetmangukiya commented on #88
:+1: we can check the exit codes and only if it is successful it'll save ?

[2017-04-13 06:23] satwikkansal commented on #88
But if it's not successful, how will the user know what went wrong? imo, we need a mechanism like
- user inputs value of a setting.
- The value is checked for the correct data-type.
- The value is also checked for functional correctness (not sure how to check this)
- If the value has any discrepancy, display an appropriate message and ask the user to enter it again.
- Finally, after all the values

[2017-04-13 06:54] jayvdb commented on #79
That may be the case now, but ... we are standardising the names of settings, irrespective of the bears.
i.e. the bears must use the same name for the same concept, and we are fixing discrepancies where they exist.
So, use the most common setting only, and create bugs for any discrepancy that you notice.

[2017-04-13 07:02] jayvdb commented on #79
Also, please analyse https://github.com/editorconfig/editorconfig-core-py , to see if it is not usable instead of a custom parser? (and custom writer for https://github.com/coala/coala/issues/4098)

[2017-04-13 08:40] satwikkansal commented on #79
I did analyze https://github.com/editorconfig/editorconfig-core-py , actually the way it works is not suitable for this issue.
It has only `get_properties` method as the interface which takes in filename/file globs as argument and returns the configurations of the sections in ".editorconfig" that match the argument passed.
However, I think the behavior we want is to extract the all the sections an

[2017-04-13 10:52] jayvdb commented on #79
I suggest talking with that project, asking them if they are interested in more methods being added, to achieve what you need.  Then everyone benefits; most of all, coala benefits in having someone else maintaining the functionality we rely on.

[2017-04-17 06:44] satwikkansal opened #89 "CLI: Autocomplete functionality"
We can have autocomplete feature with suggestions for setting values (possibly using python’s ​[readline​](http://tiswww.case.edu/php/chet/readline/readline.html#SEC44) bindings)

[2017-05-08 06:15] hemangsk opened #90 "Running modes in coala-quickstart"
webServices Status

webServices doesn't support all the bears presently. It doesn't support the bears which have nonoptional settings. As a solution, what we can do is run coala-quickstart on the project and get relevant bears, by running quickstart in a ```--relevant-bears``` mode

[code]

Then ask users for the optional/non-optional settings of those bears, and send this to the backend saving it

[2017-05-08 08:48] satwikkansal commented on #90
How are we going to ask users for the non-optional setting values :sweat_smile:

[2017-05-08 09:40] hemangsk commented on #90
input fields, text boxies or radio buttons

On May 8, 2017 2:18 PM, "Satwik Kansal" <notifications@github.com> wrote:

[2017-05-08 11:40] hemangsk commented on #90
coala.io already has the name of settings of all the bears (coala.io/languages), we can just input fields attached to setting name,

For eg, suppose the backend returns,
[code]
 allow_trailing_whitespace ____
 indent_size enforce_newline_at_EOF ___
 tab_width use_spaces ____
[code]

[2017-05-09 18:14] satwikkansal commented on #90
I see, approach seems good to me
one last doubt though, "What happens after the input values are taken in and ".coafile" is generated?" (do we run coala in `non-interactive` mode or do we display interactive results on the web like we do in the CLI)

[2017-05-09 18:18] satwikkansal commented on #90
Also not sure if it's relevant but here's what I had in my GSoC proposal

This would allow users to use the capabilities of coala-quickstart without having to install it. User inputs the github repository URL and a  “placeholder_coafile”  gets automatically committed to the repository. While performing analysis locally, coala will detect the placeholder_coafile and prompt the user for the non-opti

[2017-05-18 05:25] jayvdb commented on #44
That didnt solve the problem.
Now the `coalaBear` is put into every generated section of the `.coafile`

[2017-05-18 07:25] coala-bot opened #91 "DuplicateFileBear is activated for a single file"
DuplicateFileBear will be added into a section that has only one matching file causing an error "You included only one file"
difficulty/low importance/high

Opened via [gitter](https://gitter.im/coala/coala-bears/?at=591d4c4b631b8e4e61e9c033) by @jayvdb

[2017-05-22 19:10] Ciemaar commented on #89
This would be nice to have on project directories especially.

[2017-05-22 23:39] jrrickerson commented on #91
Any further steps on reproducing this?
I'm unable to get coala-quickstart to add DuplicateFileBear to the generated .coafile when choosing either a directory with a single file in it, or a directory with multiple files and specifying a glob which ignores all but one.

[2017-05-24 08:18] hemangsk commented on #90
Let me know what do you think of this, Presently ```acquire_settings``` function is passed as a parameter to ```fill_setting()``` by coala-quickstart to get input for settings. Then acquire settings calls the ```require_settings()``` function which keeps prompting on the coala-quickstart's console for bear settings input.

We can make a function in ConsoleInteraction ```acquire_settings_from_json(

[2017-05-27 07:00] sils commented on #90
Sorry why do you want to ask the user for settings and pass them to coala-incremental? This doesn't make sense at all; quockstart is a tool to auto generate settings and not to run coala, where's the point in giving it settings? And it already has a ci mode.

[2017-05-29 10:55] hemangsk commented on #90
<p align="center">Revamped Approach after Discussion</p> <br>

![screen shot 2017-05-29 at 4 24 01 pm](https://cloud.githubusercontent.com/assets/13018570/26547162/473e8118-448b-11e7-8ba5-ae2dd9f50458.png)

[2017-05-29 10:56] hemangsk commented on #90
The plan is to add two options in quickstart,  a ```--dir``` option to receive current project directory as command line argument, and ```--sections_only``` option to generate a coafile with useable as well as unusable bears in CI mode.  Presently it only generates one with useable bears in --ci mode, ie, bears not having non optional settings)

[2017-05-29 19:07] sils commented on #90
agree but we'll have to find a better name for sections_only, maybe like allow-incpmplete-sections or so

[2017-05-31 12:49] satwikkansal commented on #90
Sounds nice :) Just couple of doubts :P

How would you differentiate between a usable and unusable bears in the coafile? I think we'll have to come up with a syntactical representation in "intermediate-coafile" to mark and identify the sections with unusable bears while parsing.

Also, what is the difference between "coala online" and "webservices" :P (to me it seems like one is "frontend" and oth

[2017-05-31 13:20] hemangsk commented on #90
Right now it removes the unusable bears with a function that specifically does this tasks. Unusable bears here implies those bears which will ask for setting, so that is why they are unuseable in normal CI mode. But with ```--ci``` +   ```--allow-incomplete-sections``` mode (sections-only), no bears will be removed, that is why we will get unusable + usable bears. We don't need to differentiate th

[2017-05-31 16:42] satwikkansal commented on #90
Ah, okay... So the interaction is very similar to CLI interaction in quickstart.

The intermediate `coafile` only has sections with bear names and then we can ask for non-optional settings in the web interface, right?

[2017-05-31 17:35] hemangsk commented on #90
Yeah exactly

On May 31, 2017 10:12 PM, "Satwik Kansal" <notifications@github.com> wrote:

[2017-05-31 18:23] hemangsk opened #92 "Adding a --dir option to give directory through command line"
For detailed discussion
https://github.com/coala/coala-quickstart/issues/90#issuecomment-304633761
The  --dir option to receive current project directory as command line argument.

[2017-05-31 18:28] hemangsk opened #93 "Adding a --allow-incomplete-sections option"
An ```--allow-partials-section``` option to generate a coafile with useable as well as unusable bears in CI mode. Presently it only generates one with useable bears in --ci mode, ie, bears not having non optional settings)

Reference:-
https://github.com/coala/coala-quickstart/issues/90#issuecomment-304633494

[2017-06-02 10:35] #49 closed

[2017-06-02 17:18] jayvdb commented on #92
@hemangsk , why add `--dir` instead of setting the desired directory as the actual working directory?

I am worried that adding this feature in quickstart, without first implementing the feature in `coala-ci`, will unearth a few hidden bugs in coala , where assumptions about the current directory relative to the config and the OS current working directory.

Also, as a general thought `--dir` is to

[2017-06-02 23:05] hemangsk commented on #92
@jayvdb actually I was thinking that this option will be good as an enhancement to quickstart.

Understood,  we'd need to plan this feature in coala -ci first, and then move the design towards quickstart.

I found the ```cwd``` option  available for subprocess, to change working directory.

For this particular use case where I have to run coala-quickstart, inside web services, doing
[code]
is enti

[2017-06-03 02:23] jayvdb opened #96 "Add codecov"
Coverage is only 61% .  See https://github.com/coala/meta/issues/86

We need to ensure it is going up over GSoC, not down.

Codecov to the rescue.

[2017-06-03 03:14] jayvdb commented on #42
@satwikkansal , can you check whether the libraries you are using have:

- CI for Windows
- 'good' coverage (not necessarily 100%)

If not, it would be a good idea to try to do those things upstream, which hopefully doesnt result in any surprises, but ... if there are surprises you'll want to know about them now, not in phase 3 ;-)

https://github.com/coala/coala-quickstart/issues/22 will need to

[2017-06-03 08:34] hemangsk commented on #93
Yup, gotcha, updated the issue and PR

[2017-06-03 09:37] jayvdb commented on #92
Yea, I can see this being a useful feature for coala generally, but the tests will be much more useful, as it will provide a very useful way to verify that the current directory handling is working properly.
c.f. https://github.com/coala/coala/issues/3867 for an example of one of the problems in this area that is concerning me.
I am glad to hear that you've found a workaround for this problem.

Le

[2017-06-03 13:21] satwikkansal commented on #42
For JS related files I've been using `pyjsparser` but it doesn't have either of
- CI for Windows
- 100% coverage (for their `tests.py`, the coverage is 30%)

I'll create upstream issues regarding both of them.

[2017-06-03 13:22] satwikkansal commented on #42
#22 will need to be merged before your larger features are merged, otherwise the quality of your solution is unknown.

Alright, I had appveyor in later phases, but will now adapt my timeline accordingly :)

[2017-06-04 07:53] satwikkansal opened #99 "Add Travis CI"
For continuous integration on OSX.

[2017-06-04 08:00] satwikkansal opened #100 "Create sections from from package.json"
https://gitlab.com/coala/GSoC-2017/issues/167

[2017-06-04 14:19] #96 closed

[2017-06-04 16:17] satwikkansal opened #101 "Implement and InfoExtractor classes"
https://github.com/coala/cEPs/blob/master/cEP-0009.md

[2017-06-04 16:52] satwikkansal opened #104 "project.py: Inline documentation remove `/tmp` as valid path"
[code]
will lead to doctest error in case of Windows as `/tmp` is not a valid directory in windows.

[2017-06-05 21:17] #93 closed

[2017-06-08 10:40] jayvdb opened #105 "Create GitHub releases for old version"
https://github.com/coala/coala-quickstart/commit/f5c5dfb67646 = 0.3

[2017-06-09 13:41] satwikkansal opened #106 "circle.yml: Change references of python3 to python"
Use python3 instead of python similar to other coala repositories.

[2017-06-09 14:08] satwikkansal opened #107 "tests/FileGlobs.py: Use os.path.normcase"
The tests fail due to the mismatch in the cases of the file paths.

Apparently `get_project_files` in `FileGlobs.py` uses `collect_files` of coalib which eventualy ends up calling `iglob` where `os.path.normcase` is used.

Since `os.path.normcase` behaves differently for different OS the tests do not fail in Linux distros.

[2017-06-11 06:00] satwikkansal opened #108 "FileGlobs: Recursively look for gitignore file."
Programs like git and npm look for  `.gitignore` files in all subdirectories of the repository, not only the root directory. IMO, it'd be a good idea for us to look for `.gitignore` file recursively in the sub-directories starting from root.

difficulty/low

[2017-06-11 12:01] satwikkansal opened #109 "FileGlobs: Extract ignore from .npmignore file"
Some developers use `.npmignore` file to keep stuff out of their npm package. If there's no `.npmignore` file, but there is a `.gitignore` file, then npm will ignore the stuff matched by the `.gitignore` file.

 Like git, npm looks for `.npmignore` and `.gitignore` files in all subdirectories of your package, not only the root directory. (There's an issue https://github.com/coala/coala-quickstart/

[2017-06-11 15:14] Wert1996 commented on #108
I would like to work on this issue.

[2017-06-12 19:29] jayvdb opened #111 "Remove tests.sh"
tests.sh is a wrapper of pytest, which uses env_variables.sh to set some environment variables.

The only difference to running pytest directly is that tests.sh will add command line arg `--doctest-modules` only on Linux, however `addopts` in setup.py already includes this option, so this had no effect at all.

Removal of this has just been done on coala (https://github.com/coala/coala-quickstart/

[2017-06-13 05:12] satwikkansal opened #113 ".coafile: Activate bears for files in tests/ directory"
- Add rule to include test files in the analysis in `.coafile`.
- Run coala and fix all the reported issues.

difficulty/low

[2017-06-13 06:48] jayvdb commented on #106
This one should wait until after #112 , and after Travis and Appveyor are testing lots of versions of Python, you could run the tests on only one version of Python on Circle CI, which means deps.sh can be merged into circle.yml.

[2017-06-14 00:55] Makman2 opened #114 "Support editorconfig - Generate coafile from editorconfig files"
http://editorconfig.org/

Moved from https://github.com/coala/coala/issues/204, as it now falls into the scope of coala-quickstart :+1:

[2017-06-14 00:56] Makman2 commented on #114
Actually this one is a duplicate of https://github.com/coala/coala-quickstart/issues/79.

[2017-06-14 00:56] #114 closed

[2017-06-14 00:59] Makman2 commented on #79
Imo this one is not `difficulty/low`, at least `difficulty/medium`.

[2017-06-14 08:25] #111 closed

[2017-06-14 18:47] satwikkansal opened #115 "tests/FileGlobs.py Dynamically generate files and directory for gitignore tests"
Directories like `file_globs_ci_testfiles`, `bears_ci_testfiles` and the files inside them can be dynamically generated during running the tests and removed afterward.

Not sure if it's a good idea as this won't make much difference size-wise but it'll definitely reduce some files in the repository.

status/needs discussion

[2017-06-15 17:53] satwikkansal opened #116 "Usability survey"
Just an idea that came to my head and maybe we are doing it already but I'm not aware of it. As the main objective of coala-quickstart is to perform all the boilerplate work and simplify the usage of coala, one idea can be to collect the usability experience of our users for coala, see where the users face more friction and then make future design decisions.

The survey may have questions related

[2017-06-15 18:06] satwikkansal opened #117 "Scope of Info Extraction Classes"
The Info Extractor classes ([cEP-0009](https://github.com/coala/cEPs/blob/master/cEP-0009.md)) are used to extract information from project files and use that information to our advantage.

Currently, in the GSoC project "[Enhance coala-quickstart](http://projects.coala.io/#/projects?project=enhance_coala-quickstart)", the utilization of the extracted information will be in the form of creating co

[2017-06-15 18:54] satwikkansal commented on #117
can some change the label form "question" to "needs-discussion"?

[2017-06-15 18:55] satwikkansal commented on #116
Strange that gitmate put "questions" label, afaik we have needs-discussion label enables everywhere in coala repositories. Can someone please change the label?

[2017-06-15 19:46] meetmangukiya commented on #116
@satwikkansal we have `staus/needs design`, I haven't seen needs-discussion label yet :confused:

[2017-06-15 19:51] satwikkansal commented on #116
oops, `needs design` will also work, thanks for changing :)

[2017-06-17 18:37] satwikkansal opened #119 "Create sections from Gemfile"

[2017-06-17 18:38] satwikkansal commented on #119
https://gitlab.com/coala/GSoC-2017/issues/167

[2017-06-18 00:22] coala-bot opened #121 "Check repository for .yml files using YAMLLintBear"
Add YAMLLintBear in .coafile and fix .yml file issues raised by coala. See https://github.com/coala/coala-bears/pull/1799 for reference.
difficulty/newcomer

Opened via [gitter](https://gitter.im/coala/coala/?at=5945c7c4f31c8ced0c479732) by @Monal5031

[2017-06-19 05:12] prachi1210 commented on #109
Hi, I'd like to work on this issue.

[2017-06-19 05:26] satwikkansal commented on #109
Hey, use cobot to assign yourself :)

On Jun 19, 2017 10:42 AM, "Prachi Manchanda" <notifications@github.com>
wrote:

[2017-06-22 17:55] satwikkansal commented on #107
Fixed with https://github.com/coala/coala-quickstart/pull/98

[2017-06-22 17:55] #107 closed

[2017-06-22 17:55] satwikkansal commented on #104
Fixed with https://github.com/coala/coala-quickstart/pull/98

[2017-06-22 17:55] #104 closed

[2017-06-22 17:56] satwikkansal commented on #99
Closed with https://github.com/coala/coala-quickstart/pull/103

[2017-06-22 17:56] #99 closed

[2017-06-22 17:57] satwikkansal commented on #101
Closed with https://github.com/coala/coala-quickstart/pull/102

[2017-06-22 17:57] #101 closed

[2017-06-25 06:29] satwikkansal opened #125 "Info: Add example_values field"
This will make it convenient for developers to understand what kind of values can be stored in the info class.

[2017-06-25 06:31] satwikkansal opened #126 "InfoExtractor: Add spec_references field"
This would be meta-field containing link to the official/unofficial specs of the files under consideration for the `InfoExtractor`.

[2017-06-26 03:16] #121 closed

[2017-06-26 06:38] #100 closed

[2017-06-26 06:38] #125 closed

[2017-06-26 13:05] co-robo opened #127 "use new style sections"
btw. @hemangsk as well as @satwikkansal coala-quickstart is generating old style sections, right? Not using section inheritance and they'll yield a deprecation warning at coala; we should fix that.

[2017-07-01 08:33] adtac opened #129 "Automatically identify optimal settings"
Link to the old issue: https://github.com/coala/coala/issues/1348

Please refer that issue for previous discussions. All future discussions, however, will be done over here. You may also find some other relevant issues referencing #1348.

[2017-07-01 18:02] satwikkansal commented on #80
Related to https://github.com/coala/coala/issues/1079

[2017-07-01 18:06] satwikkansal commented on #126
Fixed in https://github.com/coala/coala-quickstart/pull/118/commits/1d1690149a4a66625580088de4520ca4d9ce02e2

[2017-07-01 18:06] #126 closed

[2017-07-03 04:35] prachi1210 commented on #109
@satwikkansal just to clarify, I need to recursively look for .npmignore files in all subdirs and extract globs, right?

[2017-07-03 08:53] satwikkansal commented on #109
@prachi1210 yeah right. There's another PR for git ignore, you can take help from that ;)

[2017-07-03 08:57] satwikkansal commented on #109
Link to the PR: https://github.com/coala/coala-quickstart/pull/110

[2017-07-12 14:36] satwikkansal opened #131 "Implement cEP-0014"
The cEP proposes a framework for coala-quickstart to generate more relevant .coafile sections based on project files and user preferences.

https://github.com/coala/cEPs/blob/master/cEP-0014.md

[2017-07-13 07:01] satwikkansal opened #132 "TestUtilities: FileNotFoundError while generating files in another directory than cwd"

[2017-07-14 05:19] satwikkansal opened #134 "Prompt the users if .coafile already exists"
We can ask the users to
- Select sections from the existing `.coafile`
- Ignore and overwrite the existing `.coafile`
- Skip running quickstart and use the `.coafile` as is

status/needs design

[2017-07-14 05:23] satwikkansal opened #135 "Don't ask for value for "language" settting"
Currently, a lot of multi-language bears require users to input values for the setting "language" again and again. Since we generate language based sections, this step can be skipped reducing the user input effort.

difficulty/low

[2017-07-14 05:33] satwikkansal opened #136 "Use templated ignore globs based on language detected"
Similar to the way github suggests `.gitignore`, we can either create our own templates or use the Github's API.

Links
https://developer.github.com/v3/gitignore/
https://github.com/github/gitignore

status/needs design

[2017-07-14 05:38] satwikkansal opened #137 "Add an prompt to install the required dependencies after generating coafile"
This could be another step in increasing automation. We can generate a shell script file that has commands to install the dependencies of all the bears in the written ".coafile" which are not already installed on user's system. The user can then modify (if he wants) and run the script to install the dependencies.

Not sure if coala does this already?

status/needs design

[2017-07-14 16:59] satwikkansal opened #138 "Constants.py: Update IMPORTANT_BEARS_LIST"
After the implementation of [cEP-0014](https://github.com/coala/cEPs/blob/master/cEP-0014.md), this [list](https://github.com/coala/coala-quickstart/blob/master/coala_quickstart/Constants.py) will act as a collection of "prioritized bears" which always make to list of final selected bears given the corresponding language files exist in the project.

However, current list contain only some specific

[2017-07-19 07:04] #113 closed

[2017-07-19 15:22] satwikkansal opened #139 ".coafile: Enable QuotesBear"
Similar to other coala repos, QuotesBear should be enabled for python files in coala-quickstart.

difficulty/newcomer

[2017-07-22 14:51] satwikkansal opened #140 "Update usage of coalib.settings.ConfigurationGathering.get_filtered_bears"
This function is removed in https://github.com/coala/coala/pull/4240 and will be deprecated as per discussion in https://github.com/coala/coala/issues/4519

The usage needs to be changed to the more generic `FilterHelper.get_filtered_bears`

importance/high

[2017-07-23 19:08] #132 closed

[2017-07-25 07:00] coala-bot opened #141 "Use linguist to identify languages"
See https://github.com/coala/coala/issues/4556

Opened via [gitter](https://gitter.im/coala/coala/?at=5976ec77329651f46ebdc27e) by @adtac

[2017-07-25 13:41] satwikkansal commented on #141
This can be merged with https://github.com/coala/coala-quickstart/issues/80

[2017-07-25 13:47] co-robo opened #143 "Running quickstart without existing .coafile fails"
Opened by @satwikkansal at [gitter/coala/coala](https://gitter.im/coala/coala?at=59774be9714ea96f781ee9c1)

[2017-07-25 17:04] satwikkansal commented on #143
Logs: https://gist.github.com/satwikkansal/861c38a5ab736604376ab1162b610909

[2017-07-25 17:16] satwikkansal commented on #143
It probably seems like some error from `coalib` in the logs which specifically occurs only when the .coafile is missing. I tried a bit but was not able to find out which part of code makes the behavior of logging module different when `.coafile` is absent.

[2017-07-25 17:32] satwikkansal commented on #143
Okay, so adding the following line to coala_quickstart.py stopped those errors for me

[code]

But I'm not sure why this happened and if it's the right solution for this issue than where exactly to put it.

[2017-07-25 17:40] satwikkansal opened #144 "InfoMapping.py: Add mappings for Gruntfile.js"
Gruntfile.js can contain some bear specific setting values (like ignore paths and include paths) which we can use in coala-quickstart.

[2017-07-25 17:43] satwikkansal opened #145 "Bears.py: Add bears based on lint tasks identified from Gruntfile.js"
`LintTaskInfo` and `MentionedTasksInfo` yielded by `GruntfileInfoExtractor` can be used to propose relevant bears (similar to `ProjectDependencyInfo` in `filter_relevant_bears` method)

[2017-07-25 17:56] satwikkansal opened #146 "InfoMapping.py: Restrict the scope of Editorconfig mappings based on the files they target"
All the `Info` classes yielded by `EditorconfigInfoExtractor` contains a `scope` field which represents the target files of that information in "editorconfig-style-file-glob" format.

This involves:
- Parsing the "editorconfig-style-file-globs" into standard globs.
- Adding a field name `applicable_globs` or `target_globs` in the `InfoScope` class and then modify the `check_belongs_to_scope` metho

[2017-07-25 18:11] satwikkansal opened #147 "coala_quickstart.py: Add version argument to the argparser"
Imo, `coala-quickstart -v` or `coala-quickstart --version` should be able to print out the version of the tool like other coala tools.

[2017-07-25 18:20] satwikkansal opened #148 "Add system-dependent mode"
Just an idea that I had in mind

In "system-dependent" mode we can suggest/activate bears based on the existing bear dependency installed on the user's system. For example activate `CPPCheckBear` if `cppcheck` is already installed in the system.

On the other hand, we'll still have a system independent mode which assumes nothing about the system and can be useful in using quickstart remotely.

[2017-07-25 18:23] satwikkansal opened #149 "Robust mode"
We can have a robust mode for quickstart that essentially activates all the bears based on the languages used in the project and capabilities (not sure to include filtering by bear capabilities in robust mode or not)

status/needs design

[2017-07-25 18:47] satwikkansal opened #150 "SettingsFilling: Autofill optional and default values from extracted information if possible"
Currently, only non-optional settings are attempted to be auto-filled.

[2017-07-25 19:01] satwikkansal opened #151 "Combine all the Utilities.py into single Utilities.py file"
Multiple files with the same name may lead to confusion, given the size of these files is not large, we can combine them into a single file and maybe move some of the functions to `coalib` so that they can be used by other repositories as well in the future when required.

status/needs design

[2017-07-25 19:07] satwikkansal opened #152 "Flexible user Input"
The users should have more freedom while entering the values for the settings.

Example, making them case-insensitive, allowing common aliases and short-forms (see distutils [strtobool](https://docs.python.org/2/distutils/apiref.html?highlight=distutils.util#distutils.util.strtobool) function)

[2017-07-25 19:16] satwikkansal opened #153 "Smart update of generated .coafile"
There is a possibility that the information extracted from a configuration file changes after the configuration file is modified by the user.

The modifications can be detected by comparing the file’s last modification time and quickstart's last run time. If the file is modified, the corresponding information can be automatically extracted again and reflected in the .coafile generated by coala-qui

[2017-07-25 19:23] satwikkansal commented on #80
Fwiw this is the snippet (in ruby) from linguist which we can translate to python
[code]
https://github.com/github/linguist/blob/4e0b5f02aa5746c69bfea647727bd2c12cd9ebe0/bin/linguist#L30

[2017-07-25 19:25] adtac commented on #141
Indeed, closing in favour of https://github.com/coala/coala-quickstart/issues/80

[2017-07-25 19:25] #141 closed

[2017-07-25 19:25] satwikkansal opened #154 "Extract ProjectDependencyInfo from requirements.txt"
Similar to `PackageJSONInfoExtractor` and `GemfileInfoExtractor`

[2017-07-25 19:27] satwikkansal opened #155 "Extract Information and create sections from "Gulpfile.js""
https://gitlab.com/coala/GSoC-2017/issues/201

[2017-07-28 06:43] Wert1996 commented on #154
I would like to take this up.

[2017-07-28 23:59] hemangsk opened #157 "Ignore files field is not created in interactive mode"
Steps to reproduce
[code]
At ```Which files to ignore ?``` Enter
[code]

In the final coafile generated file,
[code]

There should also be ```ignore = main.css``` field in [all] section if I understand correctly, which is missing.

Additionally, In https://github.com/coala/coala-quickstart/blob/master/coala_quickstart/generation/Settings.py#L64

[code]
checks whether all_files are disjoint with gi

[2017-07-29 06:45] satwikkansal commented on #157
Yeah this is bad,
Even I tried running quickstart in interactive mode, and it's not adding the ignore field.

[2017-07-29 07:03] satwikkansal commented on #157
The logic in that piece of code is confusing for me too. Let's have a conclusion at https://github.com/coala/coala-quickstart/pull/156#discussion_r130213126 :P

[2017-07-29 07:26] satwikkansal commented on #143
The only portion from the stack trace that I could find where logic differs with presence of absence of `.coafile` is https://github.com/coala/coala/blob/master/coalib/settings/ConfigurationGathering.py#L82

If the coafile is not found when running quickstart, the code inside the `except` block is run and `{'default': Section('default')}` is returned.

[2017-07-29 07:55] satwikkansal opened #158 "Change usage of LogPrinter"
According to https://github.com/coala/coala/blob/master/coalib/output/printers/LogPrinter.py#L96

So all the usages of  `LogPrinter` class should be changed accordingly.

[2017-07-30 04:02] jayvdb commented on #143
Was this caused by a change in coala? If so, the fix should be in coala.

[2017-07-30 08:06] satwikkansal commented on #143
coala-quickstart didn't use the development version of coala earlier,  so this issue was hidden before 3f197eb148150a8eb5004eab6a7bb0c99d2d9a80.

[2017-07-30 08:09] satwikkansal commented on #143
As the issue seems related to `LogPrinter` and `logging` module, we can implement the suggested fix (https://github.com/coala/coala-quickstart/issues/143#issuecomment-317811351) in either coala_quickstart or in the `LogPrinter` class itself.

[2017-07-30 08:13] satwikkansal commented on #143
It's very hard to pin point which commit in coalib might have revealed/caused this issue. I manually checked all recent commits of `ConfigurationGathering.py` and `LogPrinter.py` modules in coalib but none of them were responsible for this specific issue with logging in coala-quickstart.

[2017-07-30 08:43] #143 closed

[2017-07-30 12:52] satwikkansal commented on #119
https://github.com/coala/coala-quickstart/pull/120 extracts information regarding Gemfile dependencies and https://github.com/coala/coala-quickstart/pull/133/commits/82dfddfe120e3d4f5df43cf5f15c35d280856a18 suggests bears to the user based on the dependencies detected.

[2017-07-30 12:52] #119 closed

[2017-07-30 12:55] satwikkansal commented on #131
Phew, done in https://github.com/coala/coala-quickstart/pull/133

[2017-07-30 12:55] #131 closed

[2017-07-30 12:57] satwikkansal commented on #22
Done with https://github.com/coala/coala-quickstart/pull/98, can be closed now.

[2017-07-30 12:57] satwikkansal commented on #22
^^ @adtac

[2017-07-30 13:36] adtac commented on #22
Yep, closing.

[2017-07-30 13:36] #22 closed

[2017-07-30 14:02] adtac commented on #152
Alternative: https://github.com/coala/coala/blob/86f05440f6331de88bcc9dbc5b57391955a8e0a1/coalib/misc/Constants.py#L31

[2017-08-01 09:56] adtac commented on #81
Unassigning @RonnanSouza since he's closed his PR.

[2017-08-03 11:50] palash25 commented on #135
Can you direct me to the concerned files.

[2017-08-05 17:15] satwikkansal opened #163 "CLI: Omit warning when .coafile is not present"
Following warning should not be displayed
[code]

[2017-08-05 17:17] satwikkansal commented on #163
Warnings are displayed due to `ConfigurationGathering` module https://github.com/coala/coala/blob/master/coalib/settings/ConfigurationGathering.py#L82

Requires an upstream fix on coala.

[2017-08-06 17:22] satwikkansal opened #166 "Appveyor failing on 64-bit architecture"
Links: https://ci.appveyor.com/project/coala/coala-quickstart/build/1.0.132/job/rttmk9vcdsq9rl3b and https://ci.appveyor.com/project/coala/coala-quickstart/build/1.0.134/job/e7jbpvs4jcxko07c

Part of the logs
[code]

importance/high

[2017-08-07 07:05] satwikkansal commented on #166
Upstream issue filed at https://github.com/vfaronov/httpolice/issues/5

[2017-08-07 07:08] satwikkansal commented on #166
Temporary workaround for this is to pin the version of lxml to `3.6.0`  in our `requirements.txt`. This build https://ci.appveyor.com/project/satwikkansal/coala-quickstart/build/job/c4sf9lthnecqepp3  does the same and is successful.

[2017-08-08 13:04] satwikkansal commented on #166
There exists https://bugs.launchpad.net/lxml/+bug/1704707 for the missing wheel file, #167 solves this temporarily by pinning lxml version to `3.6.0`. Once https://bugs.launchpad.net/lxml/+bug/1704707 is resolved, changes in #167 can be reverted back!

[2017-08-08 13:04] #166 closed

[2017-08-09 20:10] satwikkansal opened #171 "Appveyor fails ocassionaly on 64-bit architecture"
Appveyor fails despite of all the tests being successful. One such example being https://ci.appveyor.com/project/coala/coala-quickstart/build/1.0.146/job/7e4i8gql8mdp2kd7

importance/ high
difficulty/low

[2017-08-09 20:20] satwikkansal commented on #171
Seems like https://github.com/coala/coala-quickstart/blob/master/.ci/run_with_env.cmd#L42 is hiding some potential error.

[2017-08-10 08:09] satwikkansal opened #173 "Ignore globs are not added to the output .coafile"
The ignore globs provided by user of detected from `.gitignore` are not reflected in the final generated `.coafile`. Verified this by running quickstart inside coala-quickstart repository itself.

difficulty/low
importance/ high

[2017-08-12 18:59] #81 closed

[2017-08-19 16:07] #88 closed

[2017-08-19 16:07] #135 closed

[2017-08-19 16:07] #152 closed

[2017-08-19 17:25] #146 closed

[2017-08-19 17:36] #127 closed

[2017-08-20 03:17] #163 closed

[2017-08-21 11:41] #145 closed

[2017-08-22 18:12] #89 closed

[2017-08-23 16:35] satwikkansal commented on #79
Done with https://github.com/coala/coala-quickstart/pull/133/commits/54629969935a522f8dadcafee2443d02e2ac420f

[2017-08-23 22:19] #79 closed

[2017-08-24 10:06] adtac opened #178 "Remove all instances of (code analysis application) from the repo"

[2017-09-14 13:53] meetmangukiya opened #179 "Exit peacefully on KeyboardInterrupt"

[2017-09-14 13:56] meetmangukiya opened #180 "Add new argument to expose coala quickstart version"
Currently there is no way to check quickstart version using the quickstart binary itself(or it is not documented in the help). Add a new argument  that prints quickstart version.

[2017-09-14 13:59] meetmangukiya opened #181 "quickstart doesn't ignore files from gitignore even though it states it did"
There are no visible ignore keys in the .coafile

[2017-09-21 18:05] vaibhavsingh97 commented on #173
Can i work on this issue?

[2017-10-11 20:12] satwikkansal commented on #179
Do you mean something similar to https://github.com/coala/coala/issues/3410 ?

[2017-10-11 20:14] satwikkansal commented on #181
I think it removes them explicitly from the include paths.

[2017-10-11 20:18] satwikkansal commented on #181
Ah, I thinks it's kinda related to https://github.com/coala/coala-quickstart/issues/157

[2017-10-11 20:19] satwikkansal commented on #180
Related to https://github.com/coala/coala-quickstart/issues/147

[2017-10-11 20:33] satwikkansal commented on #115
It's been done at certain places in quickstart using `generate_files` context in [TestUtilities.py](https://github.com/coala/coala-quickstart/blob/master/tests/TestUtilities.py#L7)

[2017-10-12 04:01] meetmangukiya commented on #179
I mean that it shouldn't give a traceback with KeyboardInterrupt exception

[2017-10-12 10:47] satwikkansal opened #182 "Appveyor: Frequent build failures on 64-bit architecture."
One such build is https://ci.appveyor.com/project/coala/coala-quickstart/build/1.0.198/job/3et896b2pdwoc2ko

Here's the relevant thread on Appveyor Forums that might help fixing this http://help.appveyor.com/discussions/problems/7105-build-failing-due-to-command-exited-with-code-1

[2017-10-12 10:49] satwikkansal commented on #182
Dupe of https://github.com/coala/coala-quickstart/issues/171. Closing it.

[2017-10-12 10:49] satwikkansal commented on #182
Dupe of https://github.com/coala/coala-quickstart/issues/171. Closing it.

[2017-10-12 10:49] #182 closed

[2017-10-12 10:50] satwikkansal commented on #171
Another instance https://ci.appveyor.com/project/coala/coala-quickstart/build/1.0.198/job/3et896b2pdwoc2ko

[2017-10-12 12:51] co-robo opened #183 "CircleCI: Builds fail due to frequent `ContextualVersionConflict` errors"
Opened by @satwikkansal at [gitter/coala/coala](https://gitter.im/coala/coala?at=59df654cbbbf9f1a385121a5)

[2017-10-12 12:57] satwikkansal commented on #183
https://circleci.com/gh/coala/coala-quickstart/366

[2017-10-12 12:57] satwikkansal commented on #183
[code]

[2017-10-12 15:47] Divya063 commented on #178
@adtac Can I get more information on this?

[2017-10-12 18:18] adtac commented on #178
https://github.com/coala/coala-quickstart/search?utf8=%E2%9C%93&q=code+analysis+application&type= - basically remove all occurrences of "code analysis application" from the repo. It's a retro acronym that we don't use anymore.

[2017-10-13 07:18] yashkgp commented on #178
Can I work on this issue?

[2017-10-13 07:35] Divya063 commented on #178
@adtac Thanks for the information

[2017-10-13 09:50] RaiVaibhav commented on #178
@yashkgp always read the new comer guide first,in that you will know how to assign yourself to any issue
by using corobo bot

[2017-10-14 16:27] Divya063 commented on #178
@adtac please review

[2017-10-18 15:10] #178 closed

[2017-10-20 13:11] Makman2 commented on #180
Not only related, this is a duplicate of #147.

[2017-10-20 13:11] #180 closed

[2017-10-20 16:35] nvzard commented on #138
@satwikkansal Should I add all the languages from https://github.com/coala/coala-bears/tree/master/bears to the list and all the bears from https://github.com/coala/coala-bears/tree/master/bears/general to the "All" field?

[2017-10-20 16:47] satwikkansal commented on #138
umm, Actually this needs to be given some thought. We should avoid adding bears that fix the same things or fix things covered by some other set of bears. So technically, the most efficient way would be to have a "mutually exhaustive" and "minimal" set of bears which cover all the important [aspects](https://github.com/coala/cEPs/blob/master/cEP-0005.md).

So IMO, we should wait for aspects projec

[2017-10-20 16:54] nvzard commented on #138
Okay. So what should be done now? Should I unassign myself from this issue?

[2017-10-20 16:56] satwikkansal commented on #151
You can have a look at the [coala-utils](https://gitlab.com/coala/coala-utils/) project. So the best way to think about it is,
- Firstly, combine all the `Utilities.py` present in this project to a single `Utilities.py` file.
- Then see whichever of the parts can be moved to "coala-utils" and move them.
- Then write proper tests for all of the parts.

Anyways, we've submitted as a GCI task. I'm so

[2017-10-20 17:01] nvzard commented on #151
Okay sure, no problem with waiting :)

[2017-10-20 17:01] satwikkansal commented on #138
We can fix this temporarily by adding the new "Generic Bears" which cover things not covered by existing "Generic Bears" in the list.

[2017-10-20 17:10] nvzard commented on #138
I am new here, so I am not familiar with what things the new "Generic Bears" cover that is not covered by the existing "Generic Bears". Can you please help me with that?

[2017-10-20 17:43] satwikkansal commented on #138
Oh, not a problem.

So a Generic Bear = Bear that works for "All" languages.
And the current [list](https://github.com/coala/coala-quickstart/blob/master/coala_quickstart/Constants.py) is very old, as new bears may have been added to "coala-bears" over the time, we need to update it.

[2017-10-20 18:03] nvzard commented on #38
Anyone still on this issue?

[2017-10-20 18:07] nvzard commented on #138
Thanks for explaining :) I guess we should wait for some more discussion.

[2017-10-20 20:00] Mixih commented on #38
Unassigning due to inactivity. Assignee has been contact over 6 months ago and has not replied.

[2017-10-20 20:05] RaiVaibhav commented on #38
@nvzard  what exactly this issue demand i did't get it ??

[2017-10-20 20:15] nvzard commented on #38
@RaiVaibhav  I needed to add the most recent commit checks to the `.coafile`

[2017-10-21 16:24] gureks commented on #179
I understand the issue but can you please guide how to proceed with this one?

[2017-10-22 03:00] rpanczer commented on #183
@satwikkansal Mind if I take care of this one?

[2017-10-22 13:18] satwikkansal commented on #183
Hey @rpanczer, sure ;)

[2017-10-22 18:22] satwikkansal commented on #151
Update: https://github.com/coala/corobo/issues/306

[2017-10-22 18:57] RaiVaibhav commented on #62
@jayvdb  I would like to work if issue is not already solved

[2017-10-22 21:16] #38 closed

[2017-10-23 07:03] nvzard commented on #138
@satwikkansal Should I unassign myself as this has been labeled as initiatives/gci?

[2017-10-23 07:10] satwikkansal commented on #138
Ah, yes @nvzard. And sorry for the inconvenience :(

[2017-10-23 07:23] nvzard commented on #138
@satwikkansal No problem at all, I'll find some other issues to work on :)

[2017-10-23 11:24] RaiVaibhav commented on #62
are you working on this @kaustubhhiware  ??

[2017-10-23 11:25] kaustubhhiware commented on #62
No @RaiVaibhav

[2017-10-23 14:44] RaiVaibhav commented on #62
@jayvdb @kaustubhhiware  can you help me in getting the issue as i tried first to fix it by push the change  `coafile_sections = load_config_file(config,silent=save)` but it is raising `AssertionError` but `travis failed`

[2017-10-23 14:46] #147 closed

[2017-10-24 14:46] prnvdixit commented on #134
Update : https://github.com/coala/corobo/issues/306

[2017-10-24 16:28] jayvdb commented on #115
This is https://github.com/coala/coala-quickstart/tree/master/tests/generation/file_globs_ci_testfiles and https://github.com/coala/coala-quickstart/tree/master/tests/generation/bears_ci_testfiles ?
Please add links in the description.  Are there any others?

These two also?

https://github.com/coala/coala-quickstart/tree/master/tests/generation/file_globs_gitignore_testfiles
https://github.com/co

[2017-10-25 18:17] satwikkansal commented on #115
Yes, there are 4 instances of this task, and agreed, subdividing them is unnecessary.

[2017-10-26 08:08] RaiVaibhav commented on #183
@satwikkansal  Cirlce CI failing with [error log](https://circleci.com/gh/RaiVaibhav/coala-quickstart/4)
I think this is because of [issue](https://github.com/coala/coala/issues/4794) solved the conflict version problem but it created a new [issue](https://circleci.com/gh/RaiVaibhav/coala-quickstart/4)

[2017-10-26 08:14] RaiVaibhav commented on #183
And error is same as defined in [issue](https://github.com/coala/coala/issues/4794)

[2017-10-26 20:57] RaiVaibhav commented on #134
Maintainers please unassign the person from issue as it is for GCI participant

[2017-10-27 13:52] co-robo opened #187 "Add ISSUE_TEMPLATE.md"
Add a file named `ISSUE_TEMPLATE.md` which includes general information and guidelines for issue reporter, you can see ISSUE_TEMPLATE.md of `coala` repository for reference.
label: initiatives/gci
Opened by @Monal5031 at [gitter//Monal5031](https://gitter.im//Monal5031?at=59f33a174ff065ac188263e8)

[2017-10-27 16:57] co-robo opened #188 "Add PULL_REQUEST_TEMPALTE.md"
Add a file named `PULL_REQUEST_TEMPLATE.md` which includes general information and guidelines for the author of Pull Request, you can see PULL_REQUEST_TEMPLATE.md of `coala` repository for reference.
label: initiatives/gci
Opened by @Monal5031 at [gitter//Monal5031](https://gitter.im//Monal5031?at=59f3658b614889d4750a7c33)

[2017-11-03 06:15] tulikavijay commented on #188
I would like to work on this.

[2017-11-03 07:07] sourabhtk37 opened #189 "Dependeny not able to install properly"
- While installing dependencies from `requirements.txt`, the dependency `coala_bears~=0.12.0.dev20170722110839` is not able to find the file `ignore.txt` as specified in the logs below:

[code]

- And `lxml` requires the following system dependencies `libxml2` and `libxslt`.

[2017-11-03 07:32] sourabhtk37 commented on #189
The above issues with `coala-bears` seems to be due to python2 and works on python3 virtual environment.

[2017-11-03 07:36] Monal5031 commented on #188
@tulikavijay This issue is reserved for gci students, if you want to contribute to coala please go through the newcomers guide it will help you know everything you need to know for contributing. Also please look for issues which are not labelled `initiatives/gci`

[2017-11-04 01:01] Makman2 commented on #189
Python 2 is not supported by coala.

Those packages can only be installed outside of pip, so we can't do anything about it (for now). You have to install them manually.

[2017-11-04 01:02] Makman2 commented on #189
Closing the issue, if you still have something left unanswered in your install process, feel free to reopen :+1:

[2017-11-04 01:02] #189 closed

[2017-11-04 16:01] sourabhtk37 commented on #189
You can specify it in the list of dependencies to be installed before installing coala-quickstart in setup instruction. What do you think? @Makman2

[2017-11-04 19:39] Makman2 commented on #189
The dependency list `requirements.txt` is only for pip packages. For other packages, this is often system-dependent. For our bears, we try specify those requirements regardless of OS, however we don't have a functioning system yet that allows to install them in one go automatically^^

[2017-11-05 17:33] sourabhtk37 commented on #189
See what I'm proposing is a small change maybe three or four lines in the documentation specifying the dependencies. For example lxml python package requires libxml2 as a system dependency, now specify a line in  docs saying what all are the dependencies that needs to installed.
Just look at the BigchainDB docs [here](https://docs.bigchaindb.com/projects/py-driver/en/latest/quickstart.html#how-to-

[2017-11-05 20:51] Makman2 commented on #189
Ah I've misunderstood you, I thought you mean to write into our install scripts to install them automatically once you do `pip install ...`. So yeah, we could surely write those requirements into the docs.

Sure there is, we have ongoing issues for that already. The main development happens at https://gitlab.com/coala/package_manager for those features, but this is more bears related.

[2017-11-05 20:51] Makman2 commented on #189
Please open a new clean issue for adding the system package requirements into the docs, so we have a single issue for a single thing. We shouldn't reuse this issue for that any more :)

[2017-11-11 16:30] co-robo opened #190 "Add .editorconfig file"
Our style follows the example given on http://editorconfig.org/ for Python and YAML
label: difficulty/low initiatives/gci
Opened by @mohitkyadav at [Gitter](https://gitter.im//mohitkyadav?at=5a07259c540c78242def89fe)

[2017-11-12 23:21] Makman2 commented on #190
See editorconfig file in https://github.com/coala/coala

[2017-11-22 07:34] jayvdb commented on #33
This is going to cause more problems than it solves.
Installation is hard.  It is platform specific.  It involves elevation of privilege.
IMO this is not a good idea.
(And the whole concept of cib installing bears is also a bit off, as 'success' is not success when they dependencies cant be installed, it has not attempted to cater for that in the design.)

[2017-11-24 10:16] satwikkansal commented on #42
Completed with a more organized approach as a part of my GSoC project, closing it now :)

[2017-11-24 10:17] #42 closed

[2017-12-08 10:36] ishanSrt commented on #173
@satwikkansal can you provide us with a sample or an example to demonstrate or recreate this problem?

[2017-12-08 13:11] satwikkansal commented on #173
We have methods to generate ignore fields (see https://github.com/coala/coala-quickstart/blob/master/coala_quickstart/generation/Settings.py#L39), but for some unknown reason (which you'll have to figure out) these ignore fields are not added to the final output `.coafile`

[2017-12-09 14:43] satwikkansal commented on #158
Following are the files where deprecated `LogPrinter` class has been initialized:

https://github.com/coala/coala-quickstart/blob/master/tests/generation/SettingsFillingTest.py
https://github.com/coala/coala-quickstart/blob/master/tests/generation/Bears.py
https://github.com/coala/coala-quickstart/blob/master/tests/generation/FileGlobs.py
https://github.com/coala/coala-quickstart/blob/master/coala

[2017-12-09 16:04] ishanSrt commented on #173
@satwikkansal can you give me a short example on this? for e.g.. when you run quickstart inside coala-quickstart itself, this is my .coafile.new generated:

[code]

What is missing here?

[2017-12-09 17:10] ishanSrt commented on #173
@satwikkansal can you please provide me with an example? I ran the coala-quickstart in the coala-quickstart directory itself and my `.coafile.new` is:

[code]
What is missing over here? Should there be something like `ignore=` and all the files from .`gitignore`?

[2017-12-09 19:44] ishanSrt commented on #173
@satwikkansal please bear with me as this is the first time I am actually trying to solve an issue that is not fixing a typo in the documentation. Please tell me what else is expected in the `.coafile` or `.coafile.new`

[2017-12-09 20:03] satwikkansal commented on #173
Hey @ishanSrt

Ideally there should be an `ignore` field in the generated `.coafile` like [this](https://github.com/coala/coala/blob/master/.coafile#L3) which contains ignore globs from `.gitignore` files.

[2017-12-09 20:03] satwikkansal commented on #173
Exactly

[2017-12-10 05:22] seeeturtle commented on #158
thanks @satwikkansal :smile:

[2017-12-10 07:50] jayvdb opened #192 "Circle builds fail with NameError: name 'platform_system' is not defined"
https://circleci.com/gh/jayvdb/coala-quickstart/17

[code]

[2017-12-10 08:14] jayvdb opened #194 "TestBears.test_filter_relevant_bears_with_extracted_info fails"
https://circleci.com/gh/jayvdb/coala-quickstart/20

[code]

[2017-12-10 08:24] jayvdb commented on #183
I've fixed this as part of https://github.com/coala/coala-quickstart/pull/193

[2017-12-10 09:21] satwikkansal opened #195 "Create and use self developed TestBears for tests in tests/generation/Bears.py"
Currently, some of the tests use the bears from actual `coala-bears` dependency. Since coala-quickstart has `dev` version of `coala-bears` as a dependency, upstream changes to the bears can cause the tests to fail (because a lot of filtering based on meta information like requirement version, CAN_DETECT capability, language, etc, is done in quickstart while selecting bears)

So  instead of running

[2017-12-10 09:23] satwikkansal commented on #195
This would prevent issues like https://github.com/coala/coala-quickstart/issues/194 in future.

[2017-12-10 10:37] #192 closed

[2017-12-10 10:37] #194 closed

[2017-12-10 11:26] #183 closed

[2017-12-10 19:56] ishanSrt opened #198 "add .DS_Store to .gitignore"
.DS_Store files should be added to .gitignore as they don’t contain any relevant information and users have to add this setting repeatedly to their local repositories

difficulty/newcomer

[2017-12-11 17:09] #158 closed

[2017-12-12 04:36] AnishHota commented on #198
I will like to work on this.

[2017-12-12 10:31] radonys commented on #198
Please assign this issue to me.

[2017-12-12 10:38] ishanSrt commented on #198
please request this on gitter

[2017-12-12 17:19] ishanSrt commented on #173
assign me this issue

[2017-12-12 17:19] ishanSrt commented on #181
This issue is same as https://github.com/coala/coala-quickstart/issues/173

[2017-12-12 19:31] satwikkansal commented on #181
@ishanSrt yeah, this needs to be closed. Also, @hemangsk attempted to solve similar issue (#157 ) as part of his PR https://github.com/coala/coala-quickstart/pull/156 which might be helpful to you.

[2017-12-12 19:33] satwikkansal commented on #173
@ishanSrt Please have a look at the discussion at which might be helpful to you https://github.com/coala/coala-quickstart/issues/157

[2017-12-12 19:35] ishanSrt commented on #173
@satwikkansal I did look at it. Can you tell me what is meant by this: https://github.com/coala/coala-quickstart/pull/156#issuecomment-318803685. Never heard of this before.

[2017-12-12 19:40] satwikkansal commented on #173
If you were asking about `codecov` it's a tool to check coverage of our tests.

[2017-12-12 19:41] ishanSrt commented on #173
Yes, what is meant by coverage?

[2017-12-12 19:45] satwikkansal commented on #173
Well, I can't explain you better than Google, http://lmgtfy.com/?q=code+coverage

[2017-12-13 16:52] jayvdb opened #201 "Fix pytest warning"
See https://ci.appveyor.com/project/coala/coala-quickstart/build/1.0.238/job/vyfttfvffuno52s1#L386

[2017-12-13 16:53] jayvdb commented on #171
Well if you dont know the problem, we cant mentor it yet.

I was referring to the very basic problem ; I've created a new issue for it : https://github.com/coala/coala-quickstart/issues/201

[2017-12-13 18:54] #201 closed

[2017-12-14 19:58] ishanSrt commented on #173
@satwikkansal if I have made changes in my local repository, how do I test them out? how do I make coala-quickstart run the code from my local repository and see if my changes are correct. also how do I debug the code? can I put some extra print statements in between to check the state of variables at different stages? This is needed primarily because the function https://github.com/coala/coala-qu

[2017-12-14 20:04] ishanSrt commented on #173
actually I know from where that particular function is being called, its just that a function defined in the same file for e.g.. https://github.com/coala/coala-quickstart/blob/50b358a60454932c0c33fe9443f305abd1103b11/coala_quickstart/generation/Settings.py#L70. From where is it getting called?

[2017-12-15 10:31] ishanSrt commented on #173
@satwikkansal how do I test my changes locally after making changes to my local repository?

[2017-12-15 10:33] ishanSrt commented on #173
I tried running `python3 coala-quickstart.py` but it can't find many of the packages.

[2017-12-15 10:52] satwikkansal commented on #173
If you have installed the quickstart package using `-e` flag, your changes would automatically reflect if you run `coala-quickstart` as you would normally.

[2017-12-15 10:56] ishanSrt commented on #173
@satwikkansal I don't remember that but by making changes in the local repository I mean I made the changes where I cloned the coala-quickstart repository i.e. on my desktop

[2017-12-15 11:02] ishanSrt commented on #173
I definitely didn't install it using the `-e` flag as there was nothing mentioned on the `README.rst` file

[2017-12-15 11:10] ishanSrt commented on #173
I am trying to reinstall coala-quickstart but it says that `-e requires an argument`

[2017-12-15 11:12] ishanSrt commented on #173
wait I figured it out, the argument must be the path to my local repository

[2017-12-15 12:11] ishanSrt commented on #173
@satwikkansal I don't think that its working. If I comment out this line can you tell me how to output some things like if want to know the state of a variable at some point. The normal print statement doesn't work. Will I have to use some printer class to output to the console? it should not generate a new `.coafile`. But it is generating that

[2017-12-15 12:30] satwikkansal commented on #173
@ishanSrt It's probably because you are still using the pypi release of quickstart instead of the local repository one. Try uninstalling quickstart first and the install again with `-e` flag. And make sure you've activated your virtual environment.

[2017-12-15 12:34] ishanSrt commented on #173
@satwikkansal to the argument of `-e` I gave the url to my local repository i.e. `~/Desktop/coala-quickstart` whereas I should have given the url to my forked repository i.e. `https://github.com/ishanSrt/coala-quickstart`. I am trying to fix this.

[2017-12-15 12:39] ishanSrt commented on #173
I am trying to follow this:

what does `<path/to/forked/repository>` mean over here? because running `pip3 install coala-quickstart --pre -e https://github.com/ishanSrt/coala-quickstart` gives me `https://github.com/ishanSrt/coala-quickstart should either be a path to a local project or a VCS url beginning with svn+, git+, hg+, or bzr+`

[2017-12-15 12:47] satwikkansal commented on #173
It should be the local folder path

[2017-12-15 12:54] ishanSrt commented on #173
@satwikkansal its not working. Do the changes have to be on the master branch? I had already made the changes before install coala-quickstart again and I am on a different branch. My virtual environment is activated.

[2017-12-15 12:59] satwikkansal commented on #173
The branching and staging doesn't matter. If you're following exactly similar process as in https://api.coala.io/en/latest/Developers/Development_Setup.html and making changes it __should__ work.

[2017-12-16 22:02] ishanSrt opened #210 "AppVeyor Build failing most of the times for the same code for which it had passed earlier"
error log doesn't show anything wrong or failing, shows
[code]
importance/high

link: https://ci.appveyor.com/project/coala/coala-quickstart/build/1.0.267

[2017-12-16 23:27] Makman2 commented on #210
Link to build?

[2017-12-16 23:30] ishanSrt commented on #210
added the link

[2017-12-17 07:16] ishanSrt commented on #157
@satwikkansal @hemangsk when it asks` Which files to ignore ?`. How does one specify more than one files? Can we enter globs over there instead? Can we enter more than one globs? I don't think just calling `ignore_globs=ask_question(....)` solves this problem as the globs are not evaluated and if more than one files are mentioned, I don't think there is any condition present to tackle that either

[2017-12-17 12:14] ishanSrt commented on #157
for e.g.. when `get_gitignore_glob` is called it actually evaluates the globs https://github.com/coala/coala-quickstart/blob/50b358a60454932c0c33fe9443f305abd1103b11/coala_quickstart/generation/FileGlobs.py#L37

[2017-12-17 13:59] ishanSrt commented on #157
@hemangsk @satwikkansal put *.css instead of main.css in your steps to reproduce and you will see that it doesn't evaluate globs

[2017-12-17 15:03] ishanSrt opened #211 "coala-quickstart not evaluating file globs in some case"
The particular case in which file globs are not evaluated are when coala specifically asks for `Which files to ignore ?`. You are only able to specify one file and it adds the file name blankly to ignore field. <actually it will start adding the ignore field after PR https://github.com/coala/coala-quickstart/pull/209 is merged so you should check that out>

Steps to reproduce

[code]

At `Which fi

[2017-12-18 12:09] satwikkansal commented on #157
hmm, if you're saying that the data input by `ask_question` isn't evaluated actually to check if that is actually a glob or some invalid string, then IMO, it's a separate issue in itself.

Here, the concern is, the `ignore_globs` being returned by the `get_project_files` function aren't reflected in the final output `.coafile`. These globs can either be due to `.gitignore` files if that's present,

[2017-12-18 12:13] ishanSrt commented on #157
@satwikkansal I opened a separate issue for that but can you help me with my PR https://github.com/coala/coala-quickstart/pull/209 ? If I run `pytest --cov --cov-report html` it shows that my code coverage is 95% but codecov fails it with 85% codecoverage

[2017-12-18 13:45] satwikkansal commented on #157
@ishanSrt It seems to be passing after https://github.com/coala/coala-quickstart/pull/209/commits/2dddc631c600dcaeda0144e2bc85efec7ccc5f22 :)

[2017-12-18 14:31] shreyateeza commented on #150
Please assign this issue to me @satwikkansal

[2017-12-18 14:33] shreyateeza commented on #144
@satwikkansal Please elaborate more on this issue. :)

[2017-12-18 14:36] shreyateeza commented on #140
Someone assign this issue to me.

[2017-12-18 15:08] shreyateeza commented on #62
@jayvdb  Assign this issue to me.

[2017-12-19 12:33] ishanSrt commented on #211
Actually I am now not that sure whether there should be `main.css` or `*.css` is fine too. You will have to investigate that.

[2017-12-19 12:33] ishanSrt commented on #211
Also you will have to ensure that more that one files/globs can be passed.

[2017-12-20 11:03] satwikkansal commented on #150
@shreyateeza You seem to be already assigned to https://github.com/coala/coala-quickstart/issues/62 Let me know here once you're done with that.

[2017-12-20 11:14] satwikkansal commented on #144
Alright.

https://github.com/coala/coala-quickstart/blob/master/coala_quickstart/generation/InfoMapping.py currently contains mappings for the `.editorconfig` file.

[This](https://github.com/coala/cEPs/blob/master/cEP-0014.md#mapping-extracted-information-to-setting-values) might help with concept of mapping in case there's some confusion.

And the info regarding what setting values can be deduce

[2017-12-20 11:15] satwikkansal commented on #140
Already assigned to https://github.com/coala/coala-quickstart/issues/62

[2017-12-27 04:24] ishanSrt commented on #210
Problem still occurring almost 50% of the times i push to my PR

[2018-01-14 14:37] satwikkansal commented on #210
Related: https://github.com/coala/coala-quickstart/issues/171

[2018-01-19 19:41] palash25 commented on #140
@satwikkansal so the proposed change needs to be made in the coalib API, right?

[2018-01-19 20:25] satwikkansal commented on #140
ah no, we need to adapt quickstart according to the changes done in the coalib.

[2018-01-20 00:33] shreyateeza commented on #140
@palash25 Are you working on this issue? If so, please don't because I am working on this. 🙊

[2018-01-20 03:47] palash25 commented on #140
@shreyateeza well, I didn't see anyone assigned so I thought I could work on this.

[2018-01-20 08:43] shreyateeza commented on #140
Oh yes but I am working.. 😁

[2018-01-21 16:55] satwikkansal commented on #140
@shreyateeza I've assigned you, but please make sure to get assigned always before starting to work on any issue. Avoids a lot of confusion and saves time as well 😉

[2018-01-24 14:19] jackthepirate6 commented on #190
I would like to take this up.

[2018-01-26 05:56] ishanSrt commented on #173
@Makman2 my PR was cherrypicked by you, but it seems the issues are not closed.

[2018-01-26 05:57] ishanSrt commented on #157
@Makman2 same for this issue. It's not closed.

[2018-01-26 17:06] #157 closed

[2018-01-26 17:06] #173 closed

[2018-05-04 05:14] jayvdb opened #216 "Ignore pycodestyle errors"
Travis is failing because of pycodestyle errors due to a new version of pycodestyle.

Add `pycodestyle_ignore` to `.coafile` with any error codes currently being reported.

[2018-05-04 06:35] manankalra commented on #216
assign me

[2018-05-05 04:16] #216 closed

[2018-05-05 04:43] #198 closed

[2018-05-05 04:54] #190 closed

[2018-05-06 09:30] ishanSrt opened #218 "README.rst change the installation instructions for the latest development version"

[2018-05-07 14:56] ishanSrt commented on #218
since this is a newcomer issue: the pre tag isn't updated and doesn't work since rultor died so use the method to clone the repo, `cd` and the `pip install .`

[2018-05-07 16:25] ishanSrt opened #219 "Error on running coala-quickstart on the coala-quickstart repo itself"
Here's the traceback:
[code]

Doesn't occur on the coala repo

[2018-05-07 16:39] ishanSrt opened #220 "non interactive mode will cause the list of bears to be printed 2 times"
Once with unusable and the next time after removing the unusable bears

[2018-05-07 16:49] satwikkansal commented on #219
Ah, that's probably due to some `None` object

[2018-05-07 16:51] satwikkansal commented on #219
The parser code was taken from https://github.com/editorconfig/editorconfig-core-py , so there aren't many tests here in our repo. Might be worth looking at the repo if this has already been fixed there.

[2018-05-07 17:32] ishanSrt commented on #219
@satwikkansal actually I don't understand where you have defined `translate_pattern_to_regex()`. Was it equivalent for
https://github.com/editorconfig/editorconfig-core-py/blob/d1b3dd3206568b3d6d942ef3c9a9a115dda2383b/editorconfig/fnmatch.py#L114-L220

which is somehow missed?

[2018-05-07 19:48] ishanSrt opened #221 ".coafile: Remove deprecated [Default] section"
difficulty/newcomer
refer: https://github.com/coala/coala-bears/issues/2397

[2018-05-08 04:27] jayvdb opened #222 "EditorconfigParsing: mixed attrbution"
https://github.com/coala/coala-quickstart/commits/master/coala_quickstart/info_extractors/EditorconfigParsing.py contains PSF licensed code, which may be acceptable in a AGPL project.

However there are at least two serious problems with this:

1. it has only one commit with both upstream code and local modifications.  Thus it is not possible to see which code was authored by @satwikkansal and whi

[2018-05-08 12:43] satwikkansal commented on #222
Does that mean copying https://github.com/coala/coala-quickstart/commits/master/coala_quickstart/info_extractors/EditorconfigParsing.py to https://github.com/editorconfig/editorconfig-core-py/tree/master/editorconfig and submit a PR? This seems easy to do, but I'm wondering what should be the title of the PR? And it may be awkward to the upstream maintainers because our changes are irrelevant to t

[2018-05-08 12:49] satwikkansal commented on #222
documenting the specific lines which were added vs forked,
    deleting the file and re-adding it as two or more commits with correct metadata
    splitting the file into two files of different origins (copied vs local modifications).

How about
- Creating a new file
- Adding the original source in the comments at the top in one commit
- Adding the code we need below in the next commit (copying it

[2018-05-10 19:04] ishanSrt opened #223 "Change incorrect function name"
https://github.com/coala/coala-quickstart/issues/219#issuecomment-387141794

[2018-05-10 19:05] ishanSrt opened #224 "get a list of all bears in the correct fashion"
https://gitter.im/coala/enhancing-quickstart?at=5af0a55f40f24c43045d2c1f)
to
https://gitter.im/coala/enhancing-quickstart?at=5af0af24b37eab7d0474c2a2)

[2018-05-17 09:14] tallicamike commented on #220
I've played a bit with the printing of bears and I feel there are 3 options for fixing this:

- Move the printing after the unusable bears are removed
- Move the printing after the unusable bears are removed but change the message so the user will know that some bears have been removed due to the options he chose
- Print at the end both the usable and unusable bears, using a different color for un

[2018-05-20 23:57] ishanSrt opened #228 "appveyor breakage"
[code]

[2018-05-20 23:59] virresh opened #229 "`packaging` version conflicts"
coala-bears in pre-release depend on safety module, which in turn dictates that latest packaging version be installed in it's [setup.py](https://github.com/pyupio/safety/blob/1380740696100a5724c4f33c735df9364de77ddf/setup.py#L15)
Whereas coala version in pre-release requires packaging version to be compatible with 16.8

Thus when pip would generate a dependency graph, the selection of packaging ve

[2018-05-20 23:59] ishanSrt commented on #210
it is not related to #171

[2018-05-21 00:01] ishanSrt commented on #229
related https://github.com/coala/coala-quickstart/issues/210

[2018-05-24 18:39] #210 closed

[2018-05-24 18:39] #229 closed

[2018-05-24 18:39] #228 closed

[2018-05-24 19:03] jayvdb commented on #29
Not sure why was blocked. Probably grouping of languages.
@satwikkansal do you have some insight on this issue.
Seems like it might cause headaches for current project.

[2018-05-24 20:21] satwikkansal commented on #29
hmm, not sure why this would be troubling for current project. The discrepancy is probably due to https://gitlab.com/coala/coala-utils/blob/master/coala_utils/Extensions.py#L8 which is being used [here](https://github.com/coala/coala-quickstart/blob/master/coala_quickstart/generation/Project.py#L49)

[2018-05-26 01:56] ishanSrt commented on #140
no method such as `FilterHelper.get_filtered_bears` right now

[2018-05-26 19:06] ishanSrt commented on #224
status/invalid

[2018-05-26 19:06] #224 closed

[2018-05-27 00:38] ishanSrt opened #232 "Add editorconfig tests"

[2018-05-27 04:59] ishanSrt commented on #211
status/invalid
files setting is supposed to use file globs

[2018-05-27 04:59] #211 closed

[2018-05-27 05:11] ishanSrt commented on #137
mobanising the repo will create the requirements file for even non pip dependencies like node, `Package.json`, though a shell script to automate everything at once would be a nice feature

[2018-05-27 05:37] ishanSrt commented on #150
add milestone green mode

[2018-05-27 05:39] ishanSrt commented on #154
just the listed dependencies or form the entire pip graph. How would we use this information?

[2018-05-27 05:52] ishanSrt commented on #116
somewhat implemented in the milestone green mode

[2018-05-27 05:53] jayvdb commented on #137
The user would do this by installing and using https://gitlab.com/coala/cib , which is broken atm and is another one of the projects this year.

[2018-05-27 06:12] ishanSrt commented on #78
milestone green mode

[2018-05-27 06:34] ishanSrt opened #235 "Build appveyor.yml using moban"

[2018-05-27 08:05] jayvdb opened #237 "BSD support"
There is one part of coala-utils only used by quickstart which is different on BSD.

Background to this problem can be found on
https://gitlab.com/coala/coala-utils/issues/52

If it doesnt, we may want GNU readline support which might be provided by https://github.com/ludwigschwardt/python-gnureadline/issues/52

If it does currently work, we need to add code comments / documentation about ensuring

[2018-05-27 08:06] jayvdb commented on #237
See also https://github.com/pombredanne/anyreadline/issues/4

[2018-05-27 09:45] satwikkansal commented on #154
The idea is to identify dependencies like `pylint` in the project (so that we can recommend `PyLintBear` to the user instead any other but similar Python bear). Not sure if dependency graph is a better option for this.

[2018-05-27 09:48] satwikkansal commented on #136
Agree, we can add a prompt if the user would like to ignore files as recommended by Github's standard, if they respond positively, we generate the coafile with those ignore globs.

[2018-05-27 12:50] jayvdb commented on #106
What is the benefit of this?

The CI should all be in a venv , so `python` points to the correct version.

coala & coala-bears appear to use python3 or pip3 in the documentation, but not very much in the CI, except as shebangs, and `.ci/tests.sh` which was removed from core and quickstart repos but is still in bears (I have a WIP to remove that file)

Based on the contents of https://github.com/co

[2018-05-27 14:12] #223 closed

[2018-05-27 14:18] jayvdb commented on #232
This may not need to be done if https://github.com/coala/coala-quickstart/issues/222 is fix by using upstream properly.

[2018-05-27 15:18] ishanSrt commented on #21
is this issue still valid?

[2018-05-27 15:56] utkarsh2102 commented on #187
I'm willing to take up the task.
Please assign the same to me?

[2018-05-28 00:05] #221 closed

[2018-05-28 00:05] #139 closed

[2018-05-29 13:38] tallicamike opened #240 "Fix comment typo in coala_quickstart/generation/Bears.py"
`selectecd_bears` -> `selected_bears` in https://github.com/coala/coala-quickstart/blob/6fbaebd6c5dd7a5a3b961d85b9194cba3254d594/coala_quickstart/generation/Bears.py#L153

[2018-05-29 14:36] ishanSrt commented on #232
not a bug in upstream, this issue could be held off for the while

[2018-05-30 02:32] ishanSrt commented on #219
solved by https://github.com/coala/coala-quickstart/pull/225/, don't know why it didn't get clones

[2018-05-30 02:32] #219 closed

[2018-05-30 02:34] ishanSrt commented on #240
yes @jsecrest a maintainer will fix that, the bot messes up sometimes 🙄

[2018-05-31 04:45] ishanSrt opened #241 "GREEN_MODE: Start separating Type bool settings from other type of settings"
* create the tag for green mode
* ditch looking for relevant bears, do the following checks for all the bears
* populate `Quickclass`
* a `Quickclass` object will be there for each bear
* each `Quickclass` object will have 2 settings object:
  * optional settings
  * non optional settings
* each setting object will have two types of settings as of current based on their default values
  * Type 1 o

[2018-05-31 04:47] ishanSrt opened #242 "GREEN_MODE: Further Separate Other kinds of settings into Type 2, 3 and 4"
manual seperation is needed over here

[2018-05-31 04:49] ishanSrt opened #243 "GREEN_MODE: Bias towards settings that achieve the same outcomes"
Manual biasing is needed

[2018-05-31 04:50] ishanSrt opened #244 "GREEN_MODE: Add type Annotations for Type 3 settings in the bears"

[2018-05-31 04:52] ishanSrt opened #245 "GREEN_MODE: Add QuickstartBear to guess Type 2 settings"
Populate `QUICKDATA.yaml`

[2018-05-31 04:53] ishanSrt opened #246 "GREEN_MODE: Identify the different types of config files required to parse for Type 4 settings"
status/blocked

[2018-05-31 04:59] ishanSrt opened #247 "GREEN_MODE: BRUTE FORCE"
* First launches `QuickstartBear` to populate `QUICKDATA.yaml`
* Fires up the many instances of the bears in parallel with all combinations of Type 1 settings, appropriate value of Type 2 settings obtained from `QUICKDATA.yaml`
* all combinations of Type 3 settings
* Omitted Type 4 settings for now

generate our first green config file and populate `.quickfile`

The sections of the config files wi

[2018-05-31 16:17] tallicamike opened #248 "`.editorconfig` file gets deleted during pytest"
My setup is `Ubuntu 14.04`, `python 3.4.4` run in `pyenv`, with `pip 7.0.0`. After I run `python3 -m pytest` `.editorconfig` file disappears.

[2018-05-31 21:47] tallicamike opened #249 "Unused bears show up in different categories (languages) on successive runs"
On successive runs against `coala` repo, `print_relevant_bears` will display unused bears in different categories (languages) on each run. I think this is due to the fact that the filtering is done on a dictionary that is unordered (so on each run the values are eliminated in a different order, and for the values that belong to multiple categories/languages they might end up as flagged in differen

[2018-06-01 03:26] ishanSrt commented on #241
for later usage some Type 4 settings like `config_file` of `RSTCheckBear` have value `<class 'inspect._empty'>` from the method `get_all_args()`

[2018-06-05 15:23] #218 closed

[2018-06-05 23:46] #187 closed

[2018-06-07 17:12] djmgit opened #252 "Discrepancy in help message"
When we run coala-quickstart, at first it asks for project directory and at that time it shows no hint or help message as what is project directory. After entering (or not entering) the project directory, there appears an help message telling what we should enter for the next question (files to ignore) and what we should enter for the first question which is quite odd as the user has already enter

[2018-06-07 17:12] djmgit commented on #252
I would like to work on this.

[2018-06-07 17:22] djmgit commented on #179
Hi, looks like this issue is still not solved. I would like to work on this, if no one else is working.

[2018-06-07 17:28] jayvdb commented on #252
@djmgit , I've invited you to the org. let me know when you've accepted it so I can assign you to issues.

[2018-06-07 17:32] djmgit commented on #252
@jayvdb I have accepted your invitation.

[2018-06-08 11:33] djmgit commented on #109
@prachi1210 hi, are you still working on this? If not I would like to take this up.

[2018-06-09 21:47] utkarsh2102 commented on #240
Can I take up this task?

[2018-06-10 17:10] satwikkansal opened #254 "Add tests for the coala_quickstart.main function"
There are no tests currently. Code: https://github.com/coala/coala-quickstart/blob/master/coala_quickstart/coala_quickstart.py#L60

[2018-06-10 17:59] #241 closed

[2018-06-16 06:51] jayvdb commented on #248
@ishanSrt , can you do some analysis here.  If this is happening, it is quite annoying for newcomers.

[2018-06-16 06:53] jayvdb commented on #232
If upstream has tests, and we remove our copy of their code, we dont need tests for their code.

[2018-06-16 06:55] jayvdb opened #256 "Enhance the rules in .coafile"
I've seen a few issues in code not being caught by coala-ci, i.e. pyflakes is not being run on the tests.

[2018-06-16 07:37] ishanSrt commented on #232
upstream has tests
what do you mean by *remove our copy of their code*??

[2018-06-16 07:38] ishanSrt commented on #248
yes this **is** happening, will investigate it.

[2018-06-16 09:10] ishanSrt commented on #232
@jayvdb I know that. But what do you mean by *remove the copy of the code*? How will quickstart function without that?

[2018-06-16 14:57] ishanSrt commented on #256
This is an upstream bug, raised an issue about it https://github.com/coala/coala-bears/issues/2540
cc @jayvdb

[2018-06-16 14:59] ishanSrt commented on #256
upstream as in `coala-bears`

[2018-06-17 05:16] jayvdb commented on #188
Re-added GCI label for testing, but also because this can be easily mobanised , resulting in greater reliability than newcomers creating these in many repos in an unmanaged manner.

[2018-06-17 12:51] jayvdb commented on #188
See https://gitlab.com/coala/mobans/issues/41

[2018-06-18 11:18] #240 closed

[2018-06-18 15:59] jayvdb commented on #29
Ah yes, that is a problem that needs a new design.

Imo we should be trying to detect the primary language of the project.  Usually .c files outnumber .h files, so the most frequent extension could be a simplistic solution which works well enough.

[2018-06-18 16:01] jayvdb commented on #137
Overlaps a lot with https://github.com/coala/coala-quickstart/issues/33

[2018-06-18 16:09] jayvdb commented on #136
We could ask if the want to generate a `.gitignore` , or a .ignore file, etc.

If they dont want any, they are not helpable...

[2018-06-18 16:15] jayvdb commented on #148
@satwikkansal, it looks like this is a dependency for parts of the green project. Brute force cant work with a bear that has missing deps.

[2018-06-18 17:07] satwikkansal commented on #136
Yeah, it'd be helpful in generating more specific `.coafile` omitting the standard kind of files that users wanted to ignore but were lazy to create a `.gitignore` or write them down.

[2018-06-18 17:22] satwikkansal commented on #148
hmm, interesting.

I think I see two ways of using green mode.

- Green mode + system-dependent mode: Useful for users who are trying out coala for the first time and need minimum friction to get going.
- Green mode + cib (system-independent mode): We can use this as GCI tasks, by creating green `.coafile` for projects that can potentially benefit from using coala, making a PR to their repo. The d

[2018-06-18 19:20] satwikkansal commented on #29
Related: https://github.com/coala/coala-quickstart/issues/80

Maybe we can use tools like linguist to get those stats, and then apply some if else logic

[2018-06-22 20:01] ishanSrt commented on #256
also the unused function argument `function_name` is not detected over here which is passed along but never used over here

[2018-06-22 20:04] ishanSrt commented on #256
related https://github.com/coala/coala-bears/issues/2549

[2018-06-23 04:55] yzgyyang opened #261 "Switch to use coala-utils.Question"
IMO we should switch to use components in `coala-utils` like this one:

https://github.com/coala/coala-quickstart/blob/master/coala_quickstart/generation/SettingsFilling.py#L215

Use this instead:
https://gitlab.com/coala/coala-utils/blob/master/coala_utils/Question.py

(Note that it's currently blocked by https://gitlab.com/coala/coala-utils/issues/63)

[2018-06-28 13:26] #252 closed

[2018-07-04 09:38] shreyateeza commented on #140
@satwikkansal Please unassign me from this issue. I am no longer working on this. :sweat_smile:

[2018-07-04 09:41] shreyateeza commented on #62
@jayvdb  Please unassign me from this issue. I am no longer working on this.

[2018-07-04 11:57] satwikkansal commented on #140
You can use corobo for that.

[2018-07-05 08:08] satwikkansal commented on #140
Anyways, unassigned!

[2018-07-09 23:43] jayvdb commented on #261
To do this, the repo will need to install coala-utils, coala & coala-bears from git, not pypi

Something like https://github.com/coala/coala-bears/commit/6906e5465123ecd46e41b603b725bb4d188a23c6

However this will create a version conflict with coala-utils, as coala doesnt use coala-utils master.  That needs to be done first.  And that depends on https://github.com/di/pytest-reqs/issues/16 :P

[2018-07-10 01:05] jayvdb commented on #261
Did a bunch of PRs to get that moving https://github.com/di/pytest-reqs/pulls

[2018-07-19 11:39] MacBox7 opened #264 "Settings.py: Unused variables"
Pyflakes error report =>
[code]
Fix errors and run `pyflakes==2.0.0` to ensure all are resolved.
difficulty/newcomer

[2018-07-19 15:42] anctartica opened #265 "Mobanise appveyor"

[2018-07-20 06:27] #265 closed

[2018-07-20 08:00] MacBox7 opened #267 "Enable NoFutureImportBear in .coafile"

[2018-07-21 07:40] sjha2000 commented on #264
please assign me this issue

[2018-07-21 08:46] Ishaan28malik commented on #188
i want to contribute to this issue

[2018-07-21 08:46] Ishaan28malik commented on #188
https://github.com/coala/coala-quickstart/issues/188
for this issue

[2018-07-21 08:54] jayvdb commented on #188
Unfortuantely no, we are going to use a `moban` template for these pull request and issue files.

[2018-07-21 09:02] ishanSrt commented on #264
ping @adtac
maybe there were there to extend it in the future?

[2018-07-23 00:35] #45 closed

[2018-07-27 18:35] virresh opened #271 "Add PyPluralNamingBear"

[2018-07-29 14:04] #108 closed

[2018-08-04 06:22] ishanSrt opened #272 "Bears.py: ask_to_select_capabilities, should return the results from the recursive call"
If an invalid number is entered in which case there is a recursive call, now again when a valid number is entered, the results are actually not returned inside the `else` or appended to `selected_capabilities` which results in the returning of an empty list.

difficult/newcomer

[2018-08-04 12:23] jayvdb opened #273 "FileGlobs.py: Add tests for branch coverage of get_project_files"
FileGlobs.py is at 100% coverage only because branch coverage has not been enabled.

When branch coverage is enabled, only 75% of the function `get_project_files` is covered.

[2018-08-04 12:26] jayvdb opened #274 "Bears.py: Add tests for 100% branch coverage"
Many parts of Bears.py are not covered with tests.

Add coverage for all of the easy ones, and add rules to exclude the more difficult to reach corners of the code.

[2018-08-04 12:27] jayvdb opened #275 "InfoMapping: Add tests for 100% branch coverage"

[2018-08-04 12:28] jayvdb opened #276 "Project.py: language_percentage: Add tests for 100% branch coverage"

[2018-08-04 12:29] jayvdb opened #277 "Settings.py::write_coafile: Add tests for 100% branch coverage"
This branch does not have test coverage
[code]

[2018-08-04 12:29] jayvdb opened #278 "SettingsFilling.py: Add tests for 100% branch coverage"
- def autofill_value
  - def is_autofill_possible
  - def require_setting

[2018-08-04 12:30] jayvdb opened #279 "Settings.py::get_extensions: Add tests for 100% branch coverage"
This function does not have 100% branch coverage of
`if ext in exts:`

[2018-08-04 12:32] jayvdb opened #280 "SettingsClass.py: Add tests for 100% branch coverage"
This class doesnt have 100% test coverage, including branches.
It must

[2018-08-04 12:33] jayvdb opened #281 "Utilities.py: Add tests for 100% branch coverage"
The following three functions need more tests written to reach 100% branch coverage
  - is_glob_exp
  - parse_gitignore_line
  - get_language_from_hashbang

[2018-08-04 13:18] jayvdb opened #282 "Enforce 100% branch coverage"
With a bunch of exceptions due to old code, we can lock down this repo to comply with the @coala rule of 100% branch coverage, to prevent new accidental additions of code without proper coverage.  It is often hard to spot where tests have not provided 100% coverage.  We have tools for that.  And we have a setup.cfg template for it.

Issues have been created for most of the outstanding test coverag

[2018-08-04 18:23] #282 closed, assigned to jayvdb

[2018-08-06 15:12] jayvdb commented on #264
These variables were added in the first version 7c98e485 , and they were used within the logic.

6adab903 is the commit which made `all_files` and `gitignore_files` unused.

That is your puppy @ishanSrt ;-)

A quick squiz at the code changes you made and I think these are now useless and not likely to be ever helpful in this context.

I guess there must have been some reason why the logic was ther

[2018-08-06 15:26] sladyn98 commented on #264
Assign me this one ill do it .

[2018-08-08 00:48] #264 closed

[2018-08-10 06:17] ishanSrt opened #287 "the ignore field for the all section contains a lot of unnecessary globs"
here's the repo it was tested on: https://github.com/WireGuard/WireGuard
and here's the ignore field:
[code]

[2018-08-14 02:13] jayvdb opened #293 "language_percentage: UnicodeDecodeError"
`coala_quickstart/generation/Project.py` `language_percentage` tries to open a file and fails with a backtrace if the file isnt unicode

[2018-08-14 02:18] jayvdb commented on #293
Same problem in `coala_quickstart/generation/Utilities.py` `split_by_language`

[2018-08-15 07:02] jayvdb opened #295 "Green Mode MP CPU problem on CI"
The final version of the green mode causes CI to fail badly on Python 3.5, and fail averagely on Python 3.4.

[2018-08-15 07:37] jayvdb commented on #235
This was done in https://github.com/coala/coala-quickstart/issues/265

[2018-08-15 07:37] #235 closed

[2018-08-16 05:56] jayvdb opened #297 "green_modeTest.py contains two test_initialize_project_data"
The module green_modeTest.py contains `two test_initialize_project_data`, so the second one overwrites the first one.

The first one is broken, producing error `TypeError: unhashable type: 'slice'`

[2018-08-16 06:12] jayvdb opened #298 "Node initialiser includes dead code"
The following line of coala_quickstart/green_mode/filename_operations.py :: `Node.__init__` does nothing.

[code]

[2018-08-16 06:14] jayvdb opened #299 "initialize_project_data includes dead code"
coala_quickstart/green_mode/green_mode.py :: `initialize_project_data` includes the following line which does nothing:

[code]

[2018-08-16 06:16] jayvdb opened #300 "function green_mode unnecessary delayed import of check_filename_prefix_postfix"
coala_quickstart/green_mode/green_mode_core.py :: `green_mode` contains a delayed import of `check_filename_prefix_postfix` which should be removed as it shadows an identical import in the module scope.

[2018-08-16 06:18] jayvdb opened #301 "UtilitiesTest.py test method test_search_for_orig contains dead code"
The following line in `test_search_for_orig` is dead code

[code]

[2018-08-16 06:25] jayvdb opened #302 "test_bear_test_fun_2 contains unused test_unified_results"
`test_bear_test_fun_1` and `test_bear_test_fun_2` both contain the following
[code]

However in `test_bear_test_fun_2` the expect results of `unified_results` are `[None, None]`, so the above `test_unified_results` can be removed.

[2018-08-16 06:27] jayvdb commented on #301
@ishanSrt what was this intended to do?

[2018-08-16 06:39] jayvdb opened #303 "TestUtilities.py bear_test_module unused variable mocked"
TestUtilities.py :: `bear_test_module` contains unused variable `mocked` which needs to be removed.

[2018-08-16 06:40] jayvdb commented on #301
(Assigning only because these are related to your project; once we know what the problem is, we could reallocate them to be newcomer issues.)

[2018-08-16 06:44] jayvdb commented on #256
Even if there is a problem with PyUnusedCodeBear, this issue was about enabling the PyflakesBear .

[2018-08-16 07:40] jayvdb commented on #256
Fixing this would have prevented https://github.com/coala/coala-quickstart/issues/297 and lots of other similar issues that have been raised.

[2018-08-16 14:18] rishabhgarg25699 commented on #303
Please assign this issue to me

[2018-08-17 05:18] ahphoo commented on #302
Hello, I would like to be assigned to this task.

[2018-08-17 05:47] jayvdb commented on #302
Assigned

[2018-08-17 12:14] #302 closed

[2018-08-17 12:45] jayvdb commented on #245
Status update needed.

[2018-08-17 12:46] jayvdb commented on #243
Clarification and status update needed.

[2018-08-17 12:46] jayvdb commented on #242
Clarification and status update needed.

[2018-08-18 10:44] jayvdb opened #307 ".travis.yml: Cache ntlk data"
GitCommitBear needs ntlk data, and it is quite large so it should be cached.

Most of our repos have ntlk_data in their list of cached directories.

This repo doesnt.

[2018-08-19 07:11] ishanSrt commented on #247
solved in
https://github.com/coala/coala-quickstart/commit/ffaff5c4f86039d58860a0afe00ff1721860f22e

[2018-08-19 07:11] #247 closed

[2018-08-19 07:12] ishanSrt commented on #246
solved in
https://github.com/coala/coala-quickstart/commit/a18281c56e759f2880af9b4519a1ec65bd3ac29b

[2018-08-19 07:12] #246 closed

[2018-08-19 07:12] ishanSrt commented on #245
solved in https://github.com/coala/coala-quickstart/commit/836df04a161ffd84ac3fe035bac45ea975812a76

[2018-08-19 07:12] #245 closed

[2018-08-19 07:13] ishanSrt commented on #244
reference
https://github.com/coala/coala-bears/issues/2532

[2018-08-19 07:14] ishanSrt commented on #243
solved in
https://github.com/coala/coala-quickstart/commit/a18281c56e759f2880af9b4519a1ec65bd3ac29b

[2018-08-19 07:14] #243 closed

[2018-08-19 07:14] ishanSrt commented on #242
solved in
https://github.com/coala/coala-quickstart/commit/a18281c56e759f2880af9b4519a1ec65bd3ac29b

[2018-08-19 07:14] #242 closed

[2018-08-19 20:06] minhaj3 commented on #300
Assign this issue to me

[2018-08-23 12:11] ishanSrt opened #309 "add .coafile.green to .gitignore"

[2018-08-23 12:13] ishanSrt opened #310 "facilitate deletion of coafile.green on running pytest"
Identification of tests is required which create `coafile.green` files
after which they must be deleted
even though https://github.com/coala/coala-quickstart/issues/309 adds them too `.gitignore`, `coafile.green` should be created when actually running the `--green-mode` on the repository, not by pytest

[2018-08-23 13:01] #307 closed

[2018-08-26 12:26] Makman2 opened #311 "Investigate: how to use the nextgen-core for more reliable and easier processing of bears"
The NextGen-Core brings many advantages over the old core as well as being way easier to use. The simple interface is designed to be operated by external python programs if more control of the code-environment and analysis is required.

coala-quickstart currently hacks around the old bear processing facilities which are not convenient to use what makes code using it highly likely to be buggy.

To

[2018-08-27 10:13] rak-shit commented on #300
Is the issue solved? If no, I want to work on it.

[2018-08-29 23:08] jayvdb commented on #300
@rak-shit It is assigned to @thenotsodarkknight .  Read https://coala.io/newcomer to see how you should find suitable issues to work on

[2018-09-02 12:28] jayvdb commented on #310
The test suite should be using a separate working directory

[2018-09-02 12:32] jayvdb opened #313 "coala-ci failing because of old version of a bear"
coala-ci is failing on the tests directory, because it contains an old copy of a bear, and the style has been updated in coala-bears repo.

Investigate why we have a copy of the bear, and if possible remove it, replacing it with a simpler test bear from the coala tests/ directory.

https://travis-ci.org/coala/coala-quickstart/jobs/423592342

[2018-09-02 12:53] ishanSrt commented on #310
I needed some actual code to test upon and dummy test directories and files (either mocked or sometimes created) was a tedious task. We need some actual (not completely random) code for the green mode to run tests upon.

[2018-09-02 12:57] jayvdb commented on #310
Clone a repository into a test working directory

or copy stuff into a test working directory.

[2018-09-05 15:15] ishanSrt opened #315 "green_modeTest.py: Unused import AllKindsOfSettingsDependentBear"

[2018-09-05 15:21] ishanSrt commented on #315
difficulty/newcomer

[2018-10-09 02:23] kamikaze opened #316 "Unable to install for Python 3.7"

[2018-10-09 09:30] ishanSrt commented on #316
@kamikaze Can you provide the error logs too over here?

[2018-10-11 14:59] #313 closed

[2018-10-13 09:02] #301 closed

[2018-10-13 09:12] jayvdb commented on #316
coala doesnt support Python 3.7 yet.

[2018-10-13 09:21] jayvdb opened #318 "Use coala & coala-bears master"
quickstart dependencies are way out of date with coala & coala-bears.

The strategy was that all coala repos would be using 'master' of each other:

https://github.com/coala/meta/issues/123

This was identified as a problem at

https://github.com/coala/coala-quickstart/issues/261#issuecomment-403653606

and this also blocks BSD support due to the many fixes in the upstream repos which cant be used

[2018-10-13 09:29] jayvdb commented on #311
Depends on https://github.com/coala/coala-quickstart/issues/318

[2018-10-13 09:31] jayvdb commented on #318
https://github.com/coala/coala/pull/5706 helps this task.  Without it, -quickstart needs to use the new API, which means it stops also being compatible with the released version of coala, which is a bit risky.

[2018-10-13 09:36] ishanSrt commented on #295
Due to reasons I just can't point out why

it seems to be never green for python3.4

[2018-10-13 09:38] ishanSrt commented on #298
yeah, the data struct is doing without that,
* edit:
its
`Node.insert()`
line can be deleted, newcomer issue, please reassign

[2018-10-13 10:33] jayvdb opened #319 "Spelling mistake taraget"
" The taraget file Gemfile does not match the supported file globs"

[2018-10-13 14:07] rudeigerc commented on #319
Could I take this issue?

[2018-10-13 16:06] ishanSrt commented on #319
Sorry @rudeigerc `initiatives/gci` tag is now being applied for the tasks that are being reserver for GCI Students

[2018-10-13 16:09] rudeigerc commented on #319
That's all right. Sorry for my mistake :)

[2018-10-13 19:28] jayvdb opened #320 "Spelling mistake caputred"
BearsTest.py
[code]

[2018-10-13 19:58] #293 closed

[2018-10-18 09:45] jayvdb commented on #261
https://pypi.org/project/argparse-prompt/ looks very interesting.

It looks like that might be very suitable for quickstart, allowing lots of options to be exposed to the CLI, or be deferred to the user as prompts.

It may not work for all of the prompts currently in quickstart, but even moving a few of the custom prompts to become argparse-prompt would be a big win for usability.

[2018-10-30 13:28] fireballpoint1 commented on #300
@thenotsodarkknight if you're not working on this can I ?

[2018-11-04 05:00] jayvdb opened #323 "Add .editorconfig to moban sync"
A global template was created for .editorconfig

https://gitlab.com/coala/mobans/issues/2

This repo needs to add .editorconfig to the sync list.

[2018-11-07 03:53] #323 closed

[2018-11-07 09:17] ishanSrt commented on #279
The function is present in `Utilities.py` not `Settings.py`

[2018-11-07 09:31] ishanSrt commented on #279
Following that the given lines are present in `setup.cfg`:
[code]
On running `pytest --cov` I don't see any change in coverage on removing that regex. Maybe this issue got removed after some merge?

[2018-11-07 09:56] ishanSrt opened #328 "green_mode.py: Incomplete branch coverage"
[code]

[2018-11-08 10:14] ishanSrt commented on #328
[code]

[2018-11-08 10:19] ishanSrt commented on #328
[code]

[2018-11-08 10:29] ishanSrt commented on #279
I don't know why, quite possible because of the changes in moban repo, I **was** able to recreate this today

[2018-11-08 17:09] akshatkarani commented on #279
I am getting 100% test coverage
[code]

[2018-11-09 15:49] Manas-kashyap commented on #300
can i work on it ?

[2019-01-03 10:45] Ishaan29 commented on #300
hey! I would like to work on this issue , if it is still open .

[2019-01-03 18:10] sambhavkaul commented on #320
Can I be assigned to this issue if it is still open ?

[2019-01-05 16:53] li-boxuan commented on #300
Unassigned due to inactivity.

[2019-01-08 16:11] pavanrkadave commented on #319
Hi can i be assigned this issue if its open?

[2019-01-08 16:13] pavanrkadave commented on #300
I want to work on this issue if its open!

[2019-01-09 12:13] shashank-b commented on #300
@pavanrkadave, someone is already working on this.

[2019-01-09 12:18] pavanrkadave commented on #300
Ok

[2019-01-12 00:31] vijay-pratap opened #332 "colorama 0.4.1 which is incompatible"
My setup is Windows 10, 64bit with pip version 18.1. After i run `pip3 install coala-bears`  shows 2 issues.

- pyprint 0.2.6 has requirement colorama~=0.3.7, but you'll have colorama 0.4.1 which is incompatible.

- radon 1.4.0 has requirement colorama<0.4,>=0.3, but you'll have colorama 0.4.1 which is incompatible.
@rajvaibhavdubey @msgre

[2019-01-13 08:45] shashank-b commented on #332
Hey @vijay-pratap, could you try using a lower pip version first, 9 or 10 may be?

[2019-01-13 09:34] shashank-b commented on #332
Okay, someone would soon pick this up then.

[2019-01-13 20:53] vijay-pratap commented on #332
@shashank-b Thanks it works for me

[2019-01-25 06:33] shashank-b commented on #332
@vijay-pratap, do you mean a lower pip version helped you?
If that is so, this probably needs to be closed.

[2019-03-10 04:14] piyush072 commented on #315
Can I be assigned to this issue if it's still open?

[2019-04-08 18:59] kaixiongg commented on #281
Hey there, could I be assigned to write the test to enforce 100% branch coverage?

[2019-05-03 13:02] nikbad commented on #319
Good day, I would take this issue if possible, thank you.

[2019-07-24 02:08] jayvdb commented on #171
Whatever the problem was, after https://github.com/coala/coala-quickstart/pull/334 it is a very different problem, and `run_with_env.cmd` is unused and should be deleted soon-ish

[2019-07-24 02:08] #171 closed

[2019-07-24 03:08] #318 closed

[2019-07-24 16:05] PrajwalM2212 opened #336 "Make coala-quickstart generate configuration files in TOML"

[2020-04-16 07:40] Chaitanyassr opened #341 "spelling of command is incorrect in Installation section."
spelling of command is incorrect in Installation section.

[2020-05-05 17:10] faraz16iqbal commented on #341
Can I work on this issue?

[2022-02-06 20:32] sunami09 commented on #341
Hi,
I'm a newcomer, and if this is not actively being worked on, then I would like to give it a stab.